@import '../../../styles/lib';

.card {
  @include lens-ui-typography;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: lens-var(card, backgrounds-default-background-color);
  color: lens-var(card, backgrounds-default-color);
  background-clip: border-box;
  border: 0 solid lens-var(card, backgrounds-default-border-color);
  border-radius: lens-var(card, border-radius);
  box-shadow: lens-var(card, box-shadow);
  box-sizing: border-box;
  overflow: hidden;

  @each $intent in $intent-type {
    &--bg-#{$intent} {
      background-color: lens-var(card, backgrounds-#{$intent}-background-color);
      background-clip: border-box;
      border: 0 solid lens-var(card, backgrounds-#{$intent}-border-color);

      [data-lens-element='card__title'] {
        color: lens-var(card, backgrounds-#{$intent}-card-title-color);
      }

      [data-lens-element='card__subtitle'] {
        color: lens-var(card, backgrounds-#{$intent}-card-sub-title-color);
      }

      [data-lens-element='card__text'] {
        color: lens-var(card, backgrounds-#{$intent}-color);
      }

      [data-lens-element='card__link'] {
        color: lens-var(card, backgrounds-#{$intent}-card-link-color);

        &:hover {
          color: lens-var(card, backgrounds-#{$intent}-card-link-color, hover);
        }
      }
    }
  }
}

.card-body {
  flex: 1 1 auto;
  padding: lens-var(card, elements-card-body-padding);
  box-sizing: border-box;
  color: lens-var(typography, text-color);
}

.card-text {
  margin: lens-var(card, elements-card-text-margin);
  box-sizing: border-box;
  color: lens-var(typography, text-color);
}

.card-image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  box-sizing: border-box;

  &--image-top {
    border-top-left-radius: lens-var(card, border-radius);
    border-top-right-radius: lens-var(card, border-radius);
  }

  &--image-bottom {
    border-bottom-left-radius: lens-var(card, border-radius);
    border-bottom-right-radius: lens-var(card, border-radius);
  }
}

.card-title {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: .5rem;
  color: lens-var(card, backgrounds-default-card-title-color);
  font-weight: 500;
  line-height: 1.2;
}

.card-subtitle {
  margin-top: -lens-var(card, border-radius);
  margin-bottom: 0;
  font-weight: 500;
  line-height: 1.2;
  font-size: .875rem;
  color: lens-var(card, backgrounds-default-card-sub-title-color);
  box-sizing: border-box;
}

.card-link {
  text-decoration: none;
  color: lens-var(card, backgrounds-default-card-link-color);
  cursor: pointer;
  user-select: none;
  padding: .47rem .75rem;
  font-size: .875rem;

  &:hover {
    color: lens-var(card, backgrounds-default-card-link-color, hover);
    text-decoration: underline;
  }
}
