@import '../../../style-lib';

.list {
  @include lens-ui-typography;

  --lens-ui-list-prefix-min-width: initial;
  --lens-ui-list-suffix-min-width: initial;

  &--bordered {
    border: 1px solid var(--lens-ui-elements-list-border);

    [data-lens-element='list__item'],
    [data-lens-element='list__item--heading'] {
      &:first-child {
        border-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  padding: 0;

  &__item {
    --lens-ui-list--item--cursor: default;
    --lens-ui-list-prefix-padding: .5rem;
    --lens-ui-list-suffix-padding: .5rem;

    @include lens-ui-typography;

    padding: .75rem;
    font-size: .95rem;
    border-top: 1px solid var(--lens-ui-elements-list-border);
    display: flex;
    align-items: center;
    cursor: var(--lens-ui-list--item--cursor);

    &__prefix {
      display: flex;
      align-items: center;
      padding-right: var(--lens-ui-list-prefix-padding);
      min-width: var(--lens-ui-list-prefix-min-width);
    }

    &__sufix {
      display: flex;
      align-items: center;
      padding-left: var(--lens-ui-list-suffix-padding);
      min-width: var(--lens-ui-list-suffix-min-width);
    }

    &__content {
      display: flex;
      align-items: center;
      flex: 1;
    }

    &:last-child {
      border-bottom: 1px solid var(--lens-ui-elements-list-border);
    }

    @each $intent in $intent-type {
      &--intent-#{$intent} {
        &:hover {
          background-color: hsl(var(--lens-ui-hue-#{$intent}) 74% 95%);
        }
      }
    }

    @each $intent in $intent-type {
      &--active-intent-#{$intent} {
        color: var(--lens-ui-intents-#{$intent}-lighten-text);
        background-color: var(--lens-ui-intents-#{$intent}-lighten);

        &:hover {
          color: var(--lens-ui-intents-#{$intent}-lighten-text);
          background-color: var(--lens-ui-intents-#{$intent}-lighten);
        }
      }
    }
  }

  &__heading {
    --lens-ui-list-prefix-padding: .5rem;
    --lens-ui-list-suffix-padding: .5rem;

    border-top: 1px solid var(--lens-ui-elements-list-border);
    padding: .3rem .75rem;
    font-size: .8rem;
    background-color: var(--lens-ui-elements-tabs-header-bg);
    cursor: var(--lens-ui-list--item--cursor);

    &:last-child {
      border-bottom: 1px solid var(--lens-ui-elements-list-border);
    }

    &:hover {
      background-color: var(--lens-ui-elements-tabs-header-bg);
    }

    &__prefix {
      display: flex;
      align-items: center;
      padding-right: var(--lens-ui-list-prefix-padding);
      min-width: var(--lens-ui-list-prefix-min-width);
    }

    &__sufix {
      display: flex;
      align-items: center;
      padding-left: var(--lens-ui-list-suffix-padding);
      min-width: var(--lens-ui-list-suffix-min-width);
    }
  }
}
