@import '../../../style-lib';

.list {
  @include lens-ui-typography;

  --lens-ui-list-prefix-and-suffix-padding: .5rem;

  list-style: none;
  padding: 0;

  &__item {
    @include lens-ui-typography;

    padding: .75rem;
    font-size: .95rem;
    border-top: 1px solid var(--lens-ui-elements-list-border);
    display: flex;
    align-items: center;

    &__prefix {
      display: flex;
      align-items: center;
      padding-right: var(--lens-ui-list-prefix-and-suffix-padding);
    }

    &__sufix {
      display: flex;
      align-items: center;
      padding-left: var(--lens-ui-list-prefix-and-suffix-padding);
    }

    &__content {
      display: flex;
      align-items: center;
      flex: 1;
    }

    &:last-child {
      border-bottom: 1px solid var(--lens-ui-elements-list-border);
    }

    @each $intent in $intent-type {
      &--intent-#{$intent} {
        &:hover {
          background-color: hsl(var(--lens-ui-hue-#{$intent}) 74% 95%);
        }
      }
    }

    @each $intent in $intent-type {
      &--active-intent-#{$intent} {
        color: var(--lens-ui-intents-#{$intent}-lighten-text);
        background-color: var(--lens-ui-intents-#{$intent}-lighten);

        &:hover {
          color: var(--lens-ui-intents-#{$intent}-lighten-text);
          background-color: var(--lens-ui-intents-#{$intent}-lighten);
        }
      }
    }
  }

  &__heading {
    border-top: 1px solid var(--lens-ui-elements-list-border);
    padding: .3rem .75rem;
    font-size: .8rem;
    background-color: var(--lens-ui-elements-tabs-header-bg);

    &:last-child {
      border-bottom: 1px solid var(--lens-ui-elements-list-border);
    }

    &:hover {
      background-color: var(--lens-ui-elements-tabs-header-bg);
    }
  }
}
