.masked-input {
  position: relative;
  text-align: left;
  display: flex;
  min-height: 1.3125rem;
  box-sizing: border-box;
  padding-bottom: .75rem;

  &__field {
    display: block;
    width: 100%;
    padding: .47rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--lens-ui-elements-input-background);
    background-clip: padding-box;
    border: 1px solid var(--lens-ui-input-base-border-color);
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: var(--lens-ui-input-text-color);

    &:focus {
      outline: 0;
      border: var(--lens-ui-input-base-border--active);
    }

    &--error {
      border: 1px solid var(--lens-ui-intents-danger-border);
    }
  }
}
