.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.yarnrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
CVS
npm-debug.log
stats.html
*-error.log
test
coverage
.travis.yml
.jenkins.yml
.codeclimate.yml
.jscsrc
.jshintrc
.eslintrc*
.idea
.editorconfig
.vscode
.github