{
    "$schema": "http://json.schemastore.org/swcrc",
    "module": {
        "type": "commonjs",
        "strict": false,
        "strictMode": true,
        "lazy": false,
        "noInterop": false
    }
}