.active-menu-item {
  font-weight: bold;
  border-right: .3rem solid var(--lens-ui-intents-primary);
  padding-right: .45rem;
}

.menu-item {
  font-size: .875rem !important;
  padding: .7rem .75rem !important;
  cursor: pointer;
  user-select: none;
}

.menu-heading {
  font-size: .7rem !important;
  padding: .2rem .75rem !important;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
