.spin {
  animation: spin 1s infinite linear;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}

.icon {
  --lens-ui-icon-rotation: 0;

  transform: rotate(var(--lens-ui-icon-rotation));
  transition: transform .3s ease-in-out;

  svg {
    /* stylelint-disable-next-line value-keyword-case */
    fill: currentColor;
    transition: fill 200ms cubic-bezier(.4, 0, .2, 1) 0ms;
    font-size: 1.5rem;
  }
}
