.app-layout {
  --lens-ui-app-layout-width: 100vw;
  --lens-ui-app-layout-height: 100vh;

  display: flex;
  flex-direction: column;
  width: var(--lens-ui-app-layout-width);
  height: var(--lens-ui-app-layout-height);
}
