@import '../../../../styles/lib';

.modal-footer {
  @include lens-ui-typography;

  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: .75rem;
  border-top: 1px solid lens-var(modal, border-color);
  border-bottom-right-radius: calc(.4rem - 1px);
  border-bottom-left-radius: calc(.4rem - 1px);

  & > * {
    margin: .25rem;
  }
}
