@import '../../../style-lib';

.text-input {
  position: relative;
  text-align: left;
  display: flex;
  min-height: 1.3125rem;
  box-sizing: border-box;

  &--search {
    position: relative;
  }

  &__prefix {
    position: absolute;
    background: #ced4da;
    top: .05rem;
    left: .05rem;
    bottom: .05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    border-top-left-radius: .1rem;
    border-bottom-left-radius: .1rem;
    border-right: 1px solid #ced4da;
    color: #79838d;
    pointer-events: none;
    z-index: 1;
  }

  &__suffix {
    position: absolute;
    background: #ced4da;
    top: .05rem;
    right: .05rem;
    bottom: .05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.4rem;
    border-top-right-radius: .1rem;
    border-bottom-right-radius: .1rem;
    border-right: 1px solid #ced4da;
    color: #79838d;
    pointer-events: none;
    z-index: 1;
  }

  &__input {
    @include lens-ui-typography;

    display: block;
    width: 100%;
    padding: .47rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--lens-ui-typography-text-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &--with-prefix {
      padding-left: 3.3rem;
    }

    &--with-prefix {
      padding-right: 3.3rem;
    }

    &--search {
      padding-right: 2.125rem;
    }

    &:focus {
      outline: 0;
      border: var(--lens-ui-input-base-border--active);
    }

    &--error {
      border: 1px solid var(--lens-ui-intents-danger-border);
    }
  }

  &__textarea {
    @include lens-ui-typography;

    display: block;
    width: 100%;
    padding: .47rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--lens-ui-typography-text-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    min-height: 100px;
    scrollbar-width: thin;
    scrollbar-color: var(--lens-ui-scrollbar-thumb) var(--lens-ui-scrollbar-track);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 11px;
      cursor: default;
    }

    &::-webkit-scrollbar-track {
      background: var(--lens-ui-scrollbar-track);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--lens-ui-scrollbar-thumb);
      border-radius: 6px;
      border: 3px solid var(--lens-ui-scrollbar-track);
    }

    &:focus {
      outline: 0;
      border: var(--lens-ui-input-base-border--active);
    }

    &--error {
      border: 1px solid var(--lens-ui-intents-danger-border);
    }
  }

  &__search-icon {
    position: absolute;
    top: .61rem;
    right: .75rem;
  }
}
