@import '../../../style-lib';

.drop-down-menu {
  @include lens-ui-typography;

  display: inline-flex;
  flex-direction: row;
  user-select: none;
  align-items: center;

  &__children {
    display: flex;
    flex: 1;
    height: 100%;
    cursor: pointer;
    color: var(--lens-ui-typography-text-color);
  }

  &__chevron {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.drop-down-menu-list {
  display: flex;
  flex-direction: column;
  box-shadow: var(--lens-ui-overlay-box-shadow);
  border-radius: 0;
  border-left: 1px solid var(--lens-ui-elements-list-border);
  border-right: 1px solid var(--lens-ui-elements-list-border);
  background-color: #fff;
  min-width: 15rem;
  opacity: 1;
  z-index: map-get($layers, 'OverlaySurfaces');
  position: var(--strategy);
  top: var(--y);
  left: var(--x);
  transition: opacity .2s ease-in-out;
  animation-name: lens-ui-animation-show-drop-down-menu-list;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .1s;

  [data-lens-element='menu'] {
    box-shadow: none;
  }

  [data-lens-element='menu__item'],
  [data-lens-element='menu__divider'],
  [data-lens-element='menu__heading'] {
    &:last-child {
      border-bottom: 0;
    }

    &:first-child {
      border-bottom: 0;
    }
  }

  @keyframes lens-ui-animation-show-drop-down-menu-list {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--hide {
    opacity: 0;
  }

  &__active-item {
    color: hsl(0deg 0% 40%) !important;
    font-weight: bold;
  }

  [data-lens-element='drop-down-menu__heading'] {
    &:last-child {
      border-bottom: 0;
    }
  }

  [data-lens-element='drop-down-menu__divider'] {
    &:last-child {
      border-bottom: 0;
    }
  }
}
