@import '../../../style-lib';

.drop-down-menu {
  @include lens-ui-typography;

  display: inline-flex;
  flex-direction: row;
  user-select: none;
  align-items: center;

  & > span {
    display: inline-flex;
    flex-direction: row;
  }

  &__children {
    display: flex;
    flex: 1;
    height: 100%;
    cursor: pointer;
  }

  &__chevron {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.divider {
  display: flex;
  padding: 0 !important;
  color: #989898 !important;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  background-color: var(--lens-ui-elements-drop-down-menu-divider-shadow-color) !important;
  border-bottom: 1px solid var(--lens-ui-elements-drop-down-menu-shadow-color);
  height: 1rem;
  font-size: .7rem;
  cursor: default !important;
}

.drop-down-menu-list {
  display: flex;
  box-shadow: var(--lens-ui-overlay-box-shadow);
  border-radius: var(--lens-ui-elements-card-border-radius);
  border: 1px solid var(--lens-ui-elements-drop-down-menu-shadow-color);
  background-color: #fff;
  min-width: 15rem;
  opacity: 1;
  z-index: map-get($layers, 'OverlaySurfaces');
  position: var(--strategy);
  top: var(--y);
  left: var(--x);
  transition: opacity .2s ease-in-out;
  animation-name: lens-ui-animation-show-drop-down-menu-list;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .1s;

  @keyframes lens-ui-animation-show-drop-down-menu-list {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &--hide {
    opacity: 0;
  }

  &__active-item {
    color: hsl(0deg 0% 40%) !important;
    font-weight: bold;
  }

  & > [data-lens-element='drop-down-menu__ul'] {
    display: flex;
    flex: 1;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    margin: 0;
    overflow: hidden;

    [data-lens-element='drop-down-menu__list_item'] {
      display: flex;
      flex: 1;
      padding: .7rem .4rem;
      flex-direction: row;
      border-bottom: 1px solid var(--lens-ui-elements-drop-down-menu-shadow-color);
      cursor: pointer;
      color: #767676;
      font-size: .875rem;
      max-width: 100%;

      &:hover {
        background-color: #f9f9f9;
        color: hsl(0deg 0% 20%);
      }

      &:last-child {
        border-bottom: 0;
      }
    }

    [data-lens-element='drop-down-menu__divider'] {
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
