@import '../../../style-lib';

.container {
  @include lens-ui-typography;

  position: relative;
  text-align: left;
  min-height: 1.3125rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.month-picker {
  [class*='rmdp-header'] {
    display: none;
  }
}
