@import '../../../../styles/lib';

.backdrop {
  --lens-ui-modal-backgrop-position: fixed;
  --lens-ui-modal-backgrop-width: 100vw;
  --lens-ui-modal-backgrop-height: 100vh;

  position: var(--lens-ui-modal-backgrop-position);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: var(--lens-ui-modal-backgrop-width);
  height: var(--lens-ui-modal-backgrop-height);
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: map-get($layers, 'Modal');
  box-sizing: border-box;
  background-color: lens-var(modal, backdrop-color);
  display: flex;
  align-items: center;
  justify-content: center;
  overscroll-behavior: contain;

  &--hidden {
    background-color: transparent;
  }
}

.modal {
  @include lens-ui-typography;

  --lens-ui-modal-element-max-width: 31.25rem;
  --lens-ui-modal-element-width: 100vw;
  --lens-ui-modal-element-max-height: 100vh;
  --lens-ui-modal-element-size-medium-width: 50vw;
  --lens-ui-modal-element-size-medium-height: 70vh;
  --lens-ui-modal-element-size-medium-max-width: 50vw;
  --lens-ui-modal-element-size-fullscreen-width: 100vw;
  --lens-ui-modal-element-size-fullscreen-height: 100vh;
  --lens-ui-modal-element-size-fullscreen-max-width: 100vw;

  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  max-width: var(--lens-ui-modal-element-max-width);
  width: var(--lens-ui-modal-element-width);
  max-height: var(--lens-ui-modal-element-max-height);
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: 0;
  outline: 0;
  background-color: lens-var(modal, background-color);
  border: 1px solid lens-var(modal, border-color);

  &--no-backdrop {
    box-shadow: var(--lens-ui-overlay-box-shadow);
  }

  &--size-medium {
    width: var(--lens-ui-modal-element-size-medium-width);
    height: var(--lens-ui-modal-element-size-medium-height);
    max-width: var(--lens-ui-modal-element-size-medium-max-width);
  }

  &--size-fullscreen {
    width: var(--lens-ui-modal-element-size-fullscreen-width);
    height: var(--lens-ui-modal-element-size-fullscreen-height);
    max-width: var(--lens-ui-modal-element-size-fullscreen-max-width);
    border: 0;
    border-radius: 0;
  }

  & > form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
