@import '../../../styles/theme/index';
@import '../../../styles/lib';

.dark {
  @include lens-def(typography, font-family, null, "'Roboto', sans-serif");
  @include lens-def(typography, font-size, null, .9333333333rem);
  @include lens-def(typography, text-color, null, #fff);
  @include lens-def(typography, text-color, active, #fff);
  @include lens-def(typography, text-color, faded, hsl(var(--lens-ui-hue-bg-text) 14% 90%));
  @include lens-def(typography, text-color, disabled, hsl(var(--lens-ui-hue-bg-text) 14% 80%));
  @include lens-def(card, backgrounds-default-background-color, null, var(--lens-ui-intents-dark));
  @include lens-def(card, backgrounds-default-border-color, null, #444);
  @include lens-def(card, backgrounds-default-card-title-color, null, #fff);
  @include lens-def(card, backgrounds-default-card-sub-title-color, null, #fff);
  @include lens-def(card, backgrounds-default-card-link-color, null, var(--lens-ui-intents-primary-lighten));
  @include lens-def(button, outlined-bg-color, null, var(--lens-ui-intents-dark));
  @include lens-def(button, dark-background-color, null, var(--lens-ui-intents-dark));
  @include lens-def(button, light-text-color, null, hsl(var(--lens-ui-hue-dark-text) 10% 35%));
  @include lens-def(button, dark-text-color, null, var(--lens-ui-intents-lighten));
  @include lens-def(button, primary-background-color, outlined, var(--lens-ui-intents-primary-light));
  @include lens-def(button, secondary-background-color, minimal, var(--lens-ui-intents-secondary-lighten));
  @include lens-def(button, success-background-color, minimal, var(--lens-ui-intents-success-lighten));
  @include lens-def(button, info-background-color, minimal, var(--lens-ui-intents-info-lighten));
  @include lens-def(button, warning-background-color, minimal, var(--lens-ui-intents-warning-lighten));
  @include lens-def(button, danger-background-color, minimal, var(--lens-ui-intents-danger-lighten));
  @include lens-def(button, dark-background-color, minimal, var(--lens-ui-intents-dark-text));
  @include lens-def(button, light-text-color, minimal, var(--lens-ui-intents-lighten));
  @include lens-def(button, secondary-background-color, outlined, var(--lens-ui-intents-secondary-lighten));
  @include lens-def(button, dark-background-color, outlined, var(--lens-ui-intents-dark-text));
  @include lens-def(button, light-background-color, outlined, var(--lens-ui-intents-lighten));
  @include lens-def(button, light-text-color, outlined, var(--lens-ui-intents-lighten));
  @include lens-def(button, light-background-color, null, hsl(var(--lens-ui-hue-light) 33% 90%));
  @include lens-def(button, outlined-bg-color, outlined, hsl(var(--lens-ui-hue-dark-text) 10% 23%));
  @include lens-def(button, outlined-bg-color, outlined-light, hsl(var(--lens-ui-hue-dark-text) 10% 30%));
  @include lens-def(button, light-background-color, minimal, var(--lens-ui-elements-button-outlined-bg-color--outlined-light));

  --lens-ui-elements-list-border: hsl(0deg 0% 0%);
  --lens-ui-elements-list-border-hover: hsl(210deg 14% 83%);
  --lens-ui-elements-list-bg: var(--lens-ui-elements-button-dark-background-color);
  --lens-ui-elements-list-heading-bg: var(--lens-ui-elements-button-dark-background-color);

  @include replace-me-var-copy(--lens-ui-elements-list-color, lens-var(typography, text-color));

  --lens-ui-elements-list-hover-saturation: 40%;
  --lens-ui-elements-list-hover-lightness: 50%;

  @include lens-def(breadcrumbs, last-item, null, lens-var(typography, text-color));
  @include lens-def(breadcrumbs, item-text-color, null, lens-var(typography, text-color, disabled));
  @include lens-def(breadcrumbs, item-text-color, hover, var(--lens-ui-intents-primary-lighten));

  --lens-ui-elements-list-item-divider-background: #333;

  @include lens-def(divider, text-color, null, lens-var(typography, text-color));
  @include lens-def(divider, border-bottom-color, null, #fff);

  --lens-ui-content-bg-color: #444;
  --lens-ui-elements-layout-sidebar-background-color: #333;
  --lens-ui-elements-layout-sidebar-border-right-color: hsl(0deg 0% 39%);

  @include replace-me-var-copy(--lens-ui-elements-layout-sidebar-text-color, lens-var(typography, text-color));
  @include lens-def(input, label-color, null, lens-var(typography, text-color));

  --lens-ui-input-base--active-box-shadow: 0 0 0 .15rem rgb(255 255 255 / 32%);
  --lens-ui-input-text-color: #333;

  @include lens-def(checkbox, focused-box-shadow, null, lens-var(input, box-shadow, active));

  --lens-ui-elements-modal-background-color: var(--lens-ui-content-bg-color);
  --lens-ui-elements-modal-border-color: #333;
  --lens-ui-table-bg: var(--lens-ui-conent-bg-color);
  --lens-ui-table-active-color: #495057;
  --lens-ui-table-active-bg: #636363;
  --lens-ui-table-hover-color: #636363;
  --lens-ui-table-hover-bg: #636363;
  --lens-ui-table-border-color: #333;

  @include replace-me-var-copy(--lens-ui-elements-tabs-container-color, lens-var(typography, text-color));

  --lens-ui-elements-tabs-active-bg: var(--lens-ui-content-bg-color);
  --lens-ui-elements-tabs-hover-bg: #333;
  --lens-ui-elements-tabs-border: #333;
  --lens-ui-elements-tabs-border-faded: #777;
  --lens-ui-elements-tabs-border-hovered: #5c5c5c;
  --lens-ui-elements-tabs-text-color: #f7f7f7;
  --lens-ui-elements-tabs-border-active: #333;
  --lens-ui-elements-tabs-bg: #444;

  @include lens-def(collapse, text-color, null, lens-var(typography, text-color));
  @include lens-def(collapse, background-color, null, #333);
  @include lens-def(collapse, border-color, null, #222);
  @include lens-def(collapse, content-background-color, null, #333);
  @include lens-def(collapse, content-text-color, null, lens-var(typography, text-color));
}

.default {
  @include default-theme;
}
