@import '../../../style-lib';

@keyframes lens-ui-modal-fade-in-animation {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: map-get($layers, 'Modal');
  box-sizing: border-box;
  background-color: hsl(0deg 0% 20% / 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: lens-ui-modal-fade-in-animation .2s;
}

.modal {
  @include lens-ui-typography;

  transition: transform .3s ease-out, -webkit-transform .3s ease-out;
  max-width: 31.25rem;
  width: 100vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  background-clip: padding-box;
  border-radius: .4rem;
  outline: 0;
  background-color: var(--lens-ui-elements-modal-background-color);
  border: 1px solid var(--lens-ui-elements-modal-border-color);

  &--size-medium {
    width: 50vw;
    height: 70vh;
    max-width: 50vw;
  }

  &--size-fullscreen {
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    border: 0;
    border-radius: 0;
  }

  & > form {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
