$intent-type: ('secondary' , 'primary' , 'success' , 'info' , 'warning' , 'danger');

@mixin lens-ui-typography-no-color {
  font-family: lens-var(typography, font-family);
  line-height: 1rem;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin lens-ui-typography-base {
  @include lens-ui-typography-no-color;

  color: lens-var(typography, text-color);
}

@mixin lens-ui-typography {
  @include lens-ui-typography-base;

  font-size: lens-var(typography, font-size);
}

@function lens-var($component, $var, $modifier: null) {
  @if $modifier {
    @return var(--lens-ui--elements-#{$component}__#{$var}--#{$modifier});
  }

  @return var(--lens-ui--elements-#{$component}__#{$var});
}

@mixin lens-def($component, $var, $modifier: null, $value) {
  @if $modifier {
    --lens-ui--elements-#{$component}__#{$var}--#{$modifier}: #{$value};
  } @else {
    --lens-ui--elements-#{$component}__#{$var}: #{$value};
  }
}

@mixin replace-me-var-copy($var, $value) {
  #{$var}: #{$value};
}

.lens-ui-font-definition {
  font-family: lens-var(typography, font-family);
  font-size: lens-var(typography, font-size);
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$layers: (
  'default': 1,
  'Modal': 1050,
  'Alerts': 1060,
  'Toast': 1070,
  'OverlaySurfaces': 1080,
);
