@import '../../../../style-lib';

.bottom-navigation {
  @include lens-ui-typography;

  display: flex;
  justify-content: center;
  height: 56px;
  background-color: var(--lens-ui-elements-card-backgrounds-default-background-color);
  border-top: 1px solid var(--lens-ui-elements-card-backgrounds-default-border-color);
}
