@import '../../../style-lib';

.tabs {
  display: flex;
  flex-direction: column;

  &--vertical {
    flex-direction: row;

    &__content {
      @include lens-ui-typography;

      padding: .5rem .5rem .5rem 1rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      color: var(--lens-ui-typography-most-faded-text-color);
      border-right: 1px solid var(--lens-ui-elements-tabs-border);

      &__tab-item {
        @include lens-ui-typography;

        display: block;
        padding: .5rem 1rem;
        margin-right: -1px;
        background: 0 0;
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: var(--lens-ui-typography-faded-text-color);
          border-top-color: var(--lens-ui-elements-tabs-border-faded);
          border-bottom-color: var(--lens-ui-elements-tabs-border-faded);
          border-left-color: var(--lens-ui-elements-tabs-border-faded);
          border-right-color: var(--lens-ui-elements-tabs-border);
          isolation: isolate;
        }

        &--active {
          color: var(--lens-ui-typography-text-color) !important;
          background-color: #fff !important;
          border-top-color: var(--lens-ui-elements-tabs-border) !important;
          border-bottom-color: var(--lens-ui-elements-tabs-border) !important;
          border-left-color: var(--lens-ui-elements-tabs-border) !important;
          border-right-color: #fff !important;
        }
      }
    }
  }

  &--horizontal {
    &__content {
      @include lens-ui-typography;

      padding: 1rem .5rem;
    }

    &__container {
      display: flex;
      flex-direction: row;
      color: var(--lens-ui-typography-most-faded-text-color);
      border-bottom: 1px solid var(--lens-ui-elements-tabs-border);

      &__tab-item {
        @include lens-ui-typography;

        display: block;
        padding: .5rem 1rem;
        margin-bottom: -1px;
        background: 0 0;
        border: 1px solid transparent;
        border-top-left-radius: .25rem;
        border-top-right-radius: .25rem;
        cursor: pointer;
        user-select: none;

        &:hover {
          color: var(--lens-ui-typography-faded-text-color);
          border-color: var(--lens-ui-elements-tabs-border-faded) var(--lens-ui-elements-tabs-border-faded) var(--lens-ui-elements-tabs-border);
          isolation: isolate;
        }

        &--active {
          color: var(--lens-ui-typography-text-color);
          background-color: #fff;
          border-color: var(--lens-ui-elements-tabs-border) var(--lens-ui-elements-tabs-border) #fff;
        }
      }
    }
  }
}
