@import '../../../styles/lib';

.badge {
  @include lens-ui-typography;

  display: inline-block;
  min-width: .625rem;
  padding: .188rem .438rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .625rem;
  margin-right: .3rem;
  user-select: none;

  @each $intent in $intent-type {
    &--solid-#{$intent} {
      color: lens-var(badge, #{$intent}-text, solid);
      border: .063rem solid lens-var(badge, #{$intent}-border, solid);
      background-color: lens-var(badge, #{$intent}-background-color, solid);
    }

    &--outlined-#{$intent} {
      color: lens-var(badge, #{$intent}-text, outlined);
      border: .063rem solid lens-var(badge, #{$intent}-border, outlined);
      background-color: lens-var(badge, #{$intent}-background-color, outlined);
    }

    &--subtle-#{$intent} {
      color: lens-var(badge, #{$intent}-text, subtle);
      border: .063rem solid lens-var(badge, #{$intent}-border, subtle);
      background-color: lens-var(badge, #{$intent}-background-color, subtle);
    }
  }
}
