@import '../../../style-lib';

.badge {
  @include lens-ui-typography;

  display: inline-block;
  min-width: .625rem;
  padding: .188rem .438rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .625rem;
  margin-right: .3rem;
  user-select: none;

  @each $intent in $intent-type {
    &--solid-#{$intent} {
      color: var(--lens-ui-intents-#{$intent}-text--solid);
      border: .063rem solid var(--lens-ui-intents-#{$intent}-border--solid);
      background-color: var(--lens-ui-intents-#{$intent}-background-color--solid);
    }

    &--outlined-#{$intent} {
      color: var(--lens-ui-intents-#{$intent}-text--outlined);
      border: .063rem solid var(--lens-ui-intents-#{$intent}-border--outlined);
      background-color: var(--lens-ui-intents-#{$intent}-background-color--outlined);
    }

    &--subtle-#{$intent} {
      color: var(--lens-ui-intents-#{$intent}-text--subtle);
      border: .063rem solid var(--lens-ui-intents-#{$intent}-border--subtle);
      background-color: var(--lens-ui-intents-#{$intent}-background-color--subtle);
    }
  }
}
