@import '../../../style-lib';

.radio-group {
  @include lens-ui-typography;

  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  min-height: 1.3125rem;
  box-sizing: border-box;

  &__container {
    padding-top: .4rem;
    padding-bottom: .4rem;
  }

  &__container:first-child {
    padding-top: .2rem;
  }

  &__container:last-child {
    padding-bottom: 0;
  }

  &__input {
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: .063rem solid rgb(0 0 0 / 25%);
    appearance: none;
    transition: background-color .15s ease-in-out, background-position .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    margin-top: .1rem;

    &:checked {
      background-color: #525ce5;
      border-color: #525ce5;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
    }

    &:active {
      filter: brightness(90%);
    }

    &:focus {
      border-color: #b1bbc4;
      outline: 0;
      box-shadow: var(--lens-ui-input-base--active-box-shadow);
    }

    &--mobile {
      width: 1.4rem;
      height: 1.4rem;
      margin-top: -.17rem;
    }
  }

  &__label {
    display: inline-block;
    display: inline-flex;
    padding-top: .1rem;
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    color: var(--lens-ui-typography-faded-text-color);
    padding-left: 3rem;

    &--mobile {
      font-size: 1rem;
      padding-left: 3rem;
    }
  }
}
