@mixin base-theme {
  --lens-ui-hue-primary: 207;
  --lens-ui-hue-success: 160;
  --lens-ui-hue-secondary: 230;
  --lens-ui-hue-danger: 0;
  --lens-ui-hue-info: 195;
  --lens-ui-hue-warning: 38;
  --lens-ui-hue-light: 220;
  --lens-ui-hue-dark: 210;
  --lens-ui-hue-bg: 214;
  --lens-ui-hue-primary-text: 0;
  --lens-ui-hue-success-text: 0;
  --lens-ui-hue-secondary-text: 210;
  --lens-ui-hue-danger-text: 0;
  --lens-ui-hue-info-text: 0;
  --lens-ui-hue-warning-text: 0;
  --lens-ui-hue-light-text: 0;
  --lens-ui-hue-dark-text: 210;
  --lens-ui-hue-bg-text: 210;
  --lens-ui-hue-primary-text-active: 207;
  --lens-ui-hue-success-text-active: 160;
  --lens-ui-hue-secondary-text-active: 230;
  --lens-ui-hue-danger-text-active: 0;
  --lens-ui-hue-info-text-active: 195;
  --lens-ui-hue-warning-text-active: 38;
  --lens-ui-hue-light-text-active: 220;
  --lens-ui-hue-dark-text-active: 210;
  --lens-ui-hue-bg-text-active: 207;

  /* calculated */
  --lens-ui-hue-primary-dark: calc(var(--lens-ui-hue-primary) - 1);
  --lens-ui-hue-primary-darken: calc(var(--lens-ui-hue-primary) + 1);
  --lens-ui-hue-secondary-light: calc(var(--lens-ui-hue-secondary) + 2);
  --lens-ui-hue-secondary-dark: calc(var(--lens-ui-hue-secondary) + 2);
  --lens-ui-hue-secondary-lighten: calc(var(--lens-ui-hue-secondary) - 2);
  --lens-ui-hue-secondary-darken: calc(var(--lens-ui-hue-secondary) - 2);
  --lens-ui-hue-success-light: calc(var(--lens-ui-hue-success) - 2);
  --lens-ui-hue-success-dark: calc(var(--lens-ui-hue-success) + 1);
  --lens-ui-elements-link-link-text: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-link-link-font-weight: 400;
  --lens-ui-elements-drop-down-menu-shadow-color: #dedede;
  --lens-ui-elements-drop-down-menu-divider-shadow-color: #f1f1f1;
  --lens-ui-elements-tabs-border: hsl(210deg 14% 83%);
  --lens-ui-elements-tabs-border-faded: hsl(210deg 29% 95%);
  --lens-ui-elements-tabs-header-bg: hsl(210deg 29% 95%);
  --lens-ui-table-bg: transparent;
  --lens-ui-table-active-color: #495057;
  --lens-ui-table-active-bg: #f9fafc;
  --lens-ui-table-hover-color: #495057;
  --lens-ui-table-hover-bg: #f9fafc;
  --lens-ui-table-border-color: #edf1f5;
  --lens-ui-intents-primary: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-intents-primary-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-text-active: hsl(var(--lens-ui-hue-primary-text-active) 100% 100%);
  --lens-ui-intents-primary-border: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-intents-primary-light: hsl(var(--lens-ui-hue-primary) 86% 66%);
  --lens-ui-intents-primary-light-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-light-border: hsl(var(--lens-ui-hue-primary) 86% 66%);
  --lens-ui-intents-primary-dark: hsl(var(--lens-ui-hue-primary-dark) 56% 54%);
  --lens-ui-intents-primary-dark-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-dark-border: hsl(var(--lens-ui-hue-primary-dark) 56% 54%);
  --lens-ui-intents-primary-lighten: hsl(var(--lens-ui-hue-primary) 88% 73%);
  --lens-ui-intents-primary-lighten-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-lighten-border: hsl(var(--lens-ui-hue-primary) 88% 73%);
  --lens-ui-intents-primary-darken: hsl(var(--lens-ui-hue-primary-darken) 50% 42%);
  --lens-ui-intents-primary-darken-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-darken-border: hsl(var(--lens-ui-hue-primary-darken) 50% 42%);
  --lens-ui-intents-secondary: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-intents-secondary-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-text-active: hsl(var(--lens-ui-hue-secondary-text-active) 29% 95%);
  --lens-ui-intents-secondary-border: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-intents-secondary-light: hsl(var(--lens-ui-hue-secondary-light) 14% 60%);
  --lens-ui-intents-secondary-light-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-light-border: hsl(var(--lens-ui-hue-secondary-light) 14% 60%);
  --lens-ui-intents-secondary-dark: hsl(var(--lens-ui-hue-secondary-dark) 10% 44%);
  --lens-ui-intents-secondary-dark-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-dark-border: hsl(var(--lens-ui-hue-secondary-dark) 10% 44%);
  --lens-ui-intents-secondary-lighten: hsl(var(--lens-ui-hue-secondary-lighten) 26% 74%);
  --lens-ui-intents-secondary-lighten-text: hsl(0deg 0% 35%);
  --lens-ui-intents-secondary-lighten-border: hsl(var(--lens-ui-hue-secondary-lighten) 26% 74%);
  --lens-ui-intents-secondary-darken: hsl(var(--lens-ui-hue-secondary-darken) 10% 30%);
  --lens-ui-intents-secondary-darken-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-darken-border: hsl(var(--lens-ui-hue-secondary-darken) 10% 30%);
  --lens-ui-intents-success: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-intents-success-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-text-active: hsl(var(--lens-ui-hue-success-text-active) 0% 100%);
  --lens-ui-intents-success-border: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-intents-success-light: hsl(var(--lens-ui-hue-success-light) 67% 56%);
  --lens-ui-intents-success-light-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-light-border: hsl(var(--lens-ui-hue-success-light) 67% 56%);
  --lens-ui-intents-success-dark: hsl(var(--lens-ui-hue-success-dark) 68% 38%);
  --lens-ui-intents-success-dark-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-dark-border: hsl(var(--lens-ui-hue-success-dark) 68% 38%);
  --lens-ui-intents-success-lighten: hsl(var(--lens-ui-hue-success) 63% 63%);
  --lens-ui-intents-success-lighten-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-lighten-border: hsl(var(--lens-ui-hue-success) 63% 63%);
  --lens-ui-intents-success-darken: hsl(var(--lens-ui-hue-success) 66% 25%);
  --lens-ui-intents-success-darken-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-darken-border: hsl(var(--lens-ui-hue-success) 66% 25%);
  --lens-ui-intents-danger: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-intents-danger-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-text-active: hsl(var(--lens-ui-hue-danger-text-active) 0% 100%);
  --lens-ui-intents-danger-border: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-intents-danger-light: hsl(var(--lens-ui-hue-danger) 100% 71%);
  --lens-ui-intents-danger-light-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-light-border: hsl(var(--lens-ui-hue-danger) 100% 71%);
  --lens-ui-intents-danger-dark: hsl(var(--lens-ui-hue-danger-text) 69% 56%);
  --lens-ui-intents-danger-dark-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-dark-border: rgb(var(--lens-ui-hue-light) 67 67);
  --lens-ui-intents-danger-lighten: hsl(var(--lens-ui-hue-danger) 100% 77%);
  --lens-ui-intents-danger-lighten-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-lighten-border: hsl(var(--lens-ui-hue-danger) 100% 77%);
  --lens-ui-intents-danger-darken: hsl(var(--lens-ui-hue-danger) 55% 48%);
  --lens-ui-intents-danger-darken-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-darken-border: hsl(var(--lens-ui-hue-danger) 55% 48%);
  --lens-ui-intents-info: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-intents-info-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-text-active: hsl(var(--lens-ui-hue-info-text-active) 0% 100%);
  --lens-ui-intents-info-border: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-intents-info-light: hsl(var(--lens-ui-hue-info) 71% 66%);
  --lens-ui-intents-info-light-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-light-border: hsl(var(--lens-ui-hue-info) 71% 66%);
  --lens-ui-intents-info-dark: hsl(var(--lens-ui-hue-info) 49% 52%);
  --lens-ui-intents-info-dark-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-dark-border: hsl(var(--lens-ui-hue-info) 49% 52%);
  --lens-ui-intents-info-lighten: hsl(var(--lens-ui-hue-info) 83% 73%);
  --lens-ui-intents-info-lighten-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-lighten-border: hsl(var(--lens-ui-hue-info) 83% 73%);
  --lens-ui-intents-info-darken: hsl(var(--lens-ui-hue-info) 48% 34%);
  --lens-ui-intents-info-darken-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-darken-border: hsl(var(--lens-ui-hue-info) 48% 34%);
  --lens-ui-intents-warning: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-intents-warning-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-text-active: hsl(var(--lens-ui-hue-warning-text-active) 0% 100%);
  --lens-ui-intents-warning-border: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-intents-warning-light: hsl(var(--lens-ui-hue-warning) 83% 65%);
  --lens-ui-intents-warning-light-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-light-border: hsl(var(--lens-ui-hue-warning) 83% 65%);
  --lens-ui-intents-warning-dark: hsl(var(--lens-ui-hue-warning) 60% 49%);
  --lens-ui-intents-warning-dark-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-dark-border: hsl(var(--lens-ui-hue-warning) 60% 49%);
  --lens-ui-intents-warning-lighten: hsl(var(--lens-ui-hue-warning) 80% 70%);
  --lens-ui-intents-warning-lighten-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-lighten-border: hsl(var(--lens-ui-hue-warning) 80% 70%);
  --lens-ui-intents-warning-darken: hsl(var(--lens-ui-hue-warning) 65% 40%);
  --lens-ui-intents-warning-darken-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-darken-border: hsl(var(--lens-ui-hue-warning) 65% 40%);
  --lens-ui-intents-light: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-intents-lighten: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-intents-light-text: hsl(var(--lens-ui-hue-light-text) 0% 0%);
  --lens-ui-intents-light-text-active: hsl(var(--lens-ui-hue-light-text-active) 0% 0%);
  --lens-ui-intents-light-border: hsl(var(--lens-ui-hue-light) 37% 96%);
  --lens-ui-intents-dark: hsl(var(--lens-ui-hue-dark-text) 10% 23%);
  --lens-ui-intents-dark-text: hsl(var(--lens-ui-hue-dark-text) 29% 95%);
  --lens-ui-intents-dark-text-active: hsl(var(--lens-ui-hue-dark-text-active) 29% 95%);
  --lens-ui-intents-dark-border: hsl(var(--lens-ui-hue-dark-text) 10% 23%);
  --lens-ui-typography-font-family: 'Roboto', sans-serif;
  --lens-ui-typography-font-size: .9333333333rem;
  --lens-ui-typography-text-color: hsl(var(--lens-ui-hue-bg-text) 9% 31%);
  --lens-ui-input-text-color: hsl(var(--lens-ui-hue-bg-text) 9% 31%);
  --lens-ui-typography-text-color-active: hsl(var(--lens-ui-hue-bg-text-active) 100% 70%);
  --lens-ui-typography-faded-text-color: hsl(var(--lens-ui-hue-bg-text) 14% 48%);
  --lens-ui-typography-most-faded-text-color: hsl(var(--lens-ui-hue-bg-text) 14% 80%);
  --lens-ui-scrollbar-thumb: hsl(210deg 2% 76%);
  --lens-ui-scrollbar-track: hsl(0deg 0% 100%);
  --lens-ui-input-base-border: 1px solid hsl(210deg 14% 83%);
  --lens-ui-input-base-border--active: 1px solid hsl(210deg 97% 65%);
  --lens-ui-input-base-bg--active: hsl(210deg 97% 65%);
  --lens-ui-input-base--active-box-shadow: 0 0 0 .15rem rgb(82 92 229 / 25%);
  --lens-ui-conent-bg-color: hsl(0deg 0% 97%);
  --lens-ui-elements-modal-background-color: hsl(var(--lens-ui-hue-bg) 0% 100%);
  --lens-ui-elements-modal-border-color: hsl(var(--lens-ui-hue-bg) 29% 95%);
  --lens-ui-overlay-box-shadow: rgb(0 0 0 / 20%) 0 5px 5px -3px, rgb(0 0 0 / 14%) 0 8px 10px 1px, rgb(0 0 0 / 12%) 0 3px 14px 2px;
}
