@mixin button-theme {
  --lens-ui-elements-button-font-family: var(--lens-ui-typography-font-family);
  --lens-ui-elements-button-outlined-bg-color: rgb(255 255 255);
  --lens-ui-elements-button-outlined-bg-color--outlined: rgb(255 255 255);
  --lens-ui-elements-button-outlined-bg-color--outlined-light: rgb(255 255 255);
  --lens-ui-elements-button-primary-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-border-color: var(--lens-ui-intents-primary-border);
  --lens-ui-elements-button-primary-background-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-button-primary-background-color--outlined: var(--lens-ui-intents-primary);
  --lens-ui-elements-button-primary-hover-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-hover-background-color: hsl(var(--lens-ui-hue-primary) 51% 52%);
  --lens-ui-elements-button-primary-hover-border-color: hsl(var(--lens-ui-hue-primary) 47% 49%);
  --lens-ui-elements-button-primary-active-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-active-background-color: hsl(var(--lens-ui-hue-primary) 47% 60%);
  --lens-ui-elements-button-primary-active-border-color: hsl(var(--lens-ui-hue-primary) 47% 46%);
  --lens-ui-elements-button-primary-focus-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-focus-background-color: hsl(var(--lens-ui-hue-primary) 51% 52%);
  --lens-ui-elements-button-primary-focus-border-color: hsl(var(--lens-ui-hue-primary) 47% 49%);
  --lens-ui-elements-button-primary-focus-box-shadow-color: hsl(var(--lens-ui-hue-primary) 74% 67% / 50.2%);
  --lens-ui-elements-button-primary-disabled-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-disabled-background-color: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-button-primary-disabled-border-color: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-button-secondary-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-border-color: var(--lens-ui-intents-secondary-border);
  --lens-ui-elements-button-secondary-background-color: var(--lens-ui-intents-secondary);
  --lens-ui-elements-button-secondary-background-color--minimal: var(--lens-ui-intents-secondary);
  --lens-ui-elements-button-secondary-background-color--outlined: var(--lens-ui-intents-secondary);
  --lens-ui-elements-button-secondary-hover-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-hover-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 43%);
  --lens-ui-elements-button-secondary-hover-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 40%);
  --lens-ui-elements-button-secondary-active-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-active-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 50%);
  --lens-ui-elements-button-secondary-active-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 38%);
  --lens-ui-elements-button-secondary-focus-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-focus-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 43%);
  --lens-ui-elements-button-secondary-focus-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 40%);
  --lens-ui-elements-button-secondary-focus-box-shadow-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 58% / 50.2%);
  --lens-ui-elements-button-secondary-disabled-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-disabled-background-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-button-secondary-disabled-border-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-button-success-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-border-color: var(--lens-ui-intents-success-border);
  --lens-ui-elements-button-success-background-color: var(--lens-ui-intents-success);
  --lens-ui-elements-button-success-background-color--outlined: var(--lens-ui-intents-success);
  --lens-ui-elements-button-success-background-color--minimal: var(--lens-ui-intents-success);
  --lens-ui-elements-button-success-hover-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-hover-background-color: hsl(var(--lens-ui-hue-success) 70% 39%);
  --lens-ui-elements-button-success-hover-border-color: hsl(var(--lens-ui-hue-success) 70% 36%);
  --lens-ui-elements-button-success-active-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-active-background-color: hsl(var(--lens-ui-hue-success) 70% 55%);
  --lens-ui-elements-button-success-active-border-color: hsl(var(--lens-ui-hue-success) 70% 34%);
  --lens-ui-elements-button-success-focus-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-focus-background-color: hsl(var(--lens-ui-hue-success) 70% 39%);
  --lens-ui-elements-button-success-focus-border-color: hsl(var(--lens-ui-hue-success) 70% 36%);
  --lens-ui-elements-button-success-focus-box-shadow-color: hsl(var(--lens-ui-hue-success) 58% 54% / 50.2%);
  --lens-ui-elements-button-success-disabled-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-disabled-background-color: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-elements-button-success-disabled-border-color: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-elements-button-info-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-border-color: var(--lens-ui-intents-info-border);
  --lens-ui-elements-button-info-background-color: var(--lens-ui-intents-info);
  --lens-ui-elements-button-info-background-color--minimal: var(--lens-ui-intents-info);
  --lens-ui-elements-button-info-background-color--outlined: var(--lens-ui-intents-info);
  --lens-ui-elements-button-info-hover-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-hover-background-color: hsl(var(--lens-ui-hue-info) 50% 53%);
  --lens-ui-elements-button-info-hover-border-color: hsl(var(--lens-ui-hue-info) 43% 50%);
  --lens-ui-elements-button-info-active-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-active-background-color: hsl(var(--lens-ui-hue-info) 43% 60%);
  --lens-ui-elements-button-info-active-border-color: hsl(var(--lens-ui-hue-info) 43% 47%);
  --lens-ui-elements-button-info-focus-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-focus-background-color: hsl(var(--lens-ui-hue-info) 50% 53%);
  --lens-ui-elements-button-info-focus-border-color: hsl(var(--lens-ui-hue-info) 43% 50%);
  --lens-ui-elements-button-info-focus-box-shadow-color: hsl(var(--lens-ui-hue-info) 73% 68% / 50.2%);
  --lens-ui-elements-button-info-disabled-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-disabled-background-color: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-elements-button-info-disabled-border-color: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-elements-button-warning-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-border-color: var(--lens-ui-intents-warning-border);
  --lens-ui-elements-button-warning-background-color: var(--lens-ui-intents-warning);
  --lens-ui-elements-button-warning-background-color--minimal: var(--lens-ui-intents-warning);
  --lens-ui-elements-button-warning-background-color--outlined: var(--lens-ui-intents-warning);
  --lens-ui-elements-button-warning-hover-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-hover-background-color: hsl(var(--lens-ui-hue-warning) 57% 52%);
  --lens-ui-elements-button-warning-hover-border-color: hsl(var(--lens-ui-hue-warning) 53% 49%);
  --lens-ui-elements-button-warning-active-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-active-background-color: hsl(var(--lens-ui-hue-warning) 53% 60%);
  --lens-ui-elements-button-warning-active-border-color: hsl(var(--lens-ui-hue-warning) 54% 46%);
  --lens-ui-elements-button-warning-focus-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-focus-background-color: hsl(var(--lens-ui-hue-warning) 57% 52%);
  --lens-ui-elements-button-warning-focus-border-color: hsl(var(--lens-ui-hue-warning) 53% 49%);
  --lens-ui-elements-button-warning-focus-box-shadow-color: hsl(var(--lens-ui-hue-warning) 84% 67% / 50.2%);
  --lens-ui-elements-button-warning-disabled-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-disabled-background-color: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-elements-button-warning-disabled-border-color: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-elements-button-danger-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-border-color: var(--lens-ui-intents-danger-border);
  --lens-ui-elements-button-danger-background-color: var(--lens-ui-intents-danger);
  --lens-ui-elements-button-danger-background-color--minimal: var(--lens-ui-intents-danger);
  --lens-ui-elements-button-danger-background-color--outlined: var(--lens-ui-intents-danger);
  --lens-ui-elements-button-danger-hover-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-hover-background-color: hsl(var(--lens-ui-hue-danger) 58% 53%);
  --lens-ui-elements-button-danger-hover-border-color: hsl(var(--lens-ui-hue-danger) 51% 50%);
  --lens-ui-elements-button-danger-active-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-active-background-color: hsl(var(--lens-ui-hue-danger) 51% 60%);
  --lens-ui-elements-button-danger-active-border-color: hsl(var(--lens-ui-hue-danger) 51% 47%);
  --lens-ui-elements-button-danger-focus-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-focus-background-color: hsl(var(--lens-ui-hue-danger) 58% 53%);
  --lens-ui-elements-button-danger-focus-border-color: hsl(var(--lens-ui-hue-danger) 51% 50%);
  --lens-ui-elements-button-danger-focus-box-shadow-color: hsl(var(--lens-ui-hue-danger) 85% 68% / 50.2%);
  --lens-ui-elements-button-danger-disabled-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-disabled-background-color: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-elements-button-danger-disabled-border-color: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-elements-button-light-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-text-color--outlined: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-text-color--minimal: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-border-color: var(--lens-ui-intents-light-border);
  --lens-ui-elements-button-light-background-color: var(--lens-ui-intents-light);
  --lens-ui-elements-button-light-background-color--minimal: var(--lens-ui-intents-light);
  --lens-ui-elements-button-light-background-color--outlined: var(--lens-ui-intents-light);
  --lens-ui-elements-button-light-hover-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-hover-background-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-hover-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-active-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-active-background-color: hsl(var(--lens-ui-hue-light) 43% 95%);
  --lens-ui-elements-button-light-active-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-focus-background-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-box-shadow-color: hsl(var(--lens-ui-hue-light) 2% 84% / 50.2%);
  --lens-ui-elements-button-light-disabled-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-disabled-background-color: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-elements-button-light-disabled-border-color: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-elements-button-dark-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-border-color: var(--lens-ui-intents-dark-border);
  --lens-ui-elements-button-dark-background-color: var(--lens-ui-intents-dark);
  --lens-ui-elements-button-dark-background-color--minimal: var(--lens-ui-intents-dark);
  --lens-ui-elements-button-dark-background-color--outlined: var(--lens-ui-intents-dark);
  --lens-ui-elements-button-dark-hover-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-hover-background-color: hsl(var(--lens-ui-hue-dark) 10% 19%);
  --lens-ui-elements-button-dark-hover-border-color: hsl(var(--lens-ui-hue-dark) 10% 18%);
  --lens-ui-elements-button-dark-active-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-active-background-color: hsl(var(--lens-ui-hue-dark) 10% 30%);
  --lens-ui-elements-button-dark-active-border-color: hsl(var(--lens-ui-hue-dark) 10% 17%);
  --lens-ui-elements-button-dark-focus-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-focus-background-color: hsl(var(--lens-ui-hue-dark) 10% 19%);
  --lens-ui-elements-button-dark-focus-border-color: hsl(var(--lens-ui-hue-dark) 10% 18%);
  --lens-ui-elements-button-dark-focus-box-shadow-color: hsl(var(--lens-ui-hue-dark) 6% 34% / 50.2%);
  --lens-ui-elements-button-dark-disabled-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-disabled-background-color: hsl(var(--lens-ui-hue-dark) 10% 23%);
  --lens-ui-elements-button-dark-disabled-border-color: hsl(var(--lens-ui-hue-dark) 10% 23%);
}
