@mixin card-theme {
  --lens-ui-elements-card-typography-font-family: var(--lens-ui-typography-font-family);
  --lens-ui-elements-card-typography-default-text-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-typography-faded-text-color: var(--lens-ui-typography-faded-text-color);
  --lens-ui-elements-card-border-radius: .25rem;
  --lens-ui-elements-card-box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px, rgb(0 0 0 / 14%) 0 1px 1px 0, rgb(0 0 0 / 12%) 0 1px 3px 0;
  --lens-ui-elements-card-elements-card-body-padding: 1.25rem 1.25rem;
  --lens-ui-elements-card-elements-card-text-margin: 0 0 1rem 0;
  --lens-ui-elements-card-backgrounds-default-border-color: hsl(var(--lens-ui-hue-bg) 20% 93%);
  --lens-ui-elements-card-backgrounds-default-background-color: hsl(var(--lens-ui-hue-bg) 0% 100%);
  --lens-ui-elements-card-backgrounds-default-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-backgrounds-default-color-active: var(--lens-ui-typography-text-color-active);
  --lens-ui-elements-card-backgrounds-default-card-title-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-backgrounds-default-card-sub-title-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-card-backgrounds-default-card-link-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-card-backgrounds-default-card-link-hover-color: var(--lens-ui-intents-primary-light);
  --lens-ui-elements-card-backgrounds-primary-border-color: var(--lens-ui-intents-primary-border);
  --lens-ui-elements-card-backgrounds-primary-background-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-card-backgrounds-primary-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-color-active: var(--lens-ui-intents-primary-text-active);
  --lens-ui-elements-card-backgrounds-primary-card-title-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-card-sub-title-color: var(--lens-ui-intents-primary-light-text);
  --lens-ui-elements-card-backgrounds-primary-card-link-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-card-link-hover-color: var(--lens-ui-intents-primary-light-text);
  --lens-ui-elements-card-backgrounds-secondary-border-color: var(--lens-ui-intents-secondary-border);
  --lens-ui-elements-card-backgrounds-secondary-background-color: var(--lens-ui-intents-secondary);
  --lens-ui-elements-card-backgrounds-secondary-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-color-active: var(--lens-ui-intents-secondary-text-active);
  --lens-ui-elements-card-backgrounds-secondary-card-title-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-card-sub-title-color: var(--lens-ui-intents-secondary-light-text);
  --lens-ui-elements-card-backgrounds-secondary-card-link-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-card-link-hover-color: var(--lens-ui-intents-secondary-light-text);
  --lens-ui-elements-card-backgrounds-success-border-color: var(--lens-ui-intents-success-border);
  --lens-ui-elements-card-backgrounds-success-background-color: var(--lens-ui-intents-success);
  --lens-ui-elements-card-backgrounds-success-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-color-active: var(--lens-ui-intents-success-text-active);
  --lens-ui-elements-card-backgrounds-success-card-title-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-card-sub-title-color: var(--lens-ui-intents-success-light-text);
  --lens-ui-elements-card-backgrounds-success-card-link-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-card-link-hover-color: var(--lens-ui-intents-success-light-text);
  --lens-ui-elements-card-backgrounds-info-border-color: var(--lens-ui-intents-info-border);
  --lens-ui-elements-card-backgrounds-info-background-color: var(--lens-ui-intents-info);
  --lens-ui-elements-card-backgrounds-info-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-color-active: var(--lens-ui-intents-info-text-active);
  --lens-ui-elements-card-backgrounds-info-card-title-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-card-sub-title-color: var(--lens-ui-intents-info-light-text);
  --lens-ui-elements-card-backgrounds-info-card-link-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-card-link-hover-color: var(--lens-ui-intents-info-light-text);
  --lens-ui-elements-card-backgrounds-warning-border-color: var(--lens-ui-intents-warning-border);
  --lens-ui-elements-card-backgrounds-warning-background-color: var(--lens-ui-intents-warning);
  --lens-ui-elements-card-backgrounds-warning-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-color-active: var(--lens-ui-intents-warning-text-active);
  --lens-ui-elements-card-backgrounds-warning-card-title-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-card-sub-title-color: var(--lens-ui-intents-warning-light-text);
  --lens-ui-elements-card-backgrounds-warning-card-link-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-card-link-hover-color: var(--lens-ui-intents-warning-light-text);
  --lens-ui-elements-card-backgrounds-danger-border-color: var(--lens-ui-intents-danger-border);
  --lens-ui-elements-card-backgrounds-danger-background-color: var(--lens-ui-intents-danger);
  --lens-ui-elements-card-backgrounds-danger-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-color-active: var(--lens-ui-intents-danger-text-active);
  --lens-ui-elements-card-backgrounds-danger-card-title-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-card-sub-title-color: var(--lens-ui-intents-danger-light-text);
  --lens-ui-elements-card-backgrounds-danger-card-link-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-card-link-hover-color: var(--lens-ui-intents-danger-light-text);
}
