@import '../../../styles/lib';

.form-group {
  @include lens-ui-typography;

  line-height: 1rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: .75rem;

  [data-lens-form-group-role='label'] {
    @include lens-ui-typography;

    margin-bottom: .5rem;
    margin-right: 0;
    color: lens-var(typography, text-color, faded);
    box-sizing: border-box;
    font-weight: 500;
  }

  input {
    color: lens-var(input, text-color);
    background-color: lens-var(input, background);
  }

  &__required-helper {
    font-weight: bold;
    color: lens-var(form-group, required-helper__text-color);
  }

  &--inline {
    flex-direction: row;

    [data-lens-form-group-role='label'] {
      margin-right: .7em;
      padding-top: .6rem;
    }
  }

  &__helper-text {
    @include lens-ui-typography;

    font-size: .75rem;
    margin-top: .125rem;
    font-weight: 500;

    &--intent-default {
      color: lens-var(typography, text-color, faded);
    }

    &--intent-primary {
      color: lens-var(form-group, helper-text__text-color, intent-primary);
    }

    &--intent-secondary {
      color: lens-var(form-group, helper-text__text-color, intent-secondary);
    }

    &--intent-success {
      color: lens-var(form-group, helper-text__text-color, intent-success);
    }

    &--intent-info {
      color: lens-var(form-group, helper-text__text-color, intent-info);
    }

    &--intent-warning {
      color: lens-var(form-group, helper-text__text-color, intent-warning);
    }

    &--intent-danger {
      color: lens-var(form-group, helper-text__text-color, intent-danger);
    }
  }

  [data-lens-element='checkbox'] {
    margin-left: 1.5rem;
  }

  [data-lens-element='radio'] {
    margin-left: 1.5rem;
  }

  [data-lens-element='switch'] {
    margin-left: 1.5rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0;
}
