@import '../../../style-lib.scss';

.form-group {
  @include lens-ui-typography;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-bottom: .75rem;

  [data-lens-form-group-role='label'] {
    @include lens-ui-typography;
    margin-bottom: .5rem;
    margin-right: 0;
    color: var(--lens-ui-typography-faded-text-color);
    box-sizing: border-box;
    font-weight: 500;
  }

  &__required-helper {
    font-weight: bold;
    color: var(--lens-ui-intents-danger);
  }

  &--inline {
    flex-direction: column;

    [data-lens-form-group-role='label'] {
      margin-right: .7em;
    }
  }

  &__helper-text {
    @include lens-ui-typography;
    font-size: .75rem;
    margin-top: .125rem;
    font-weight: 500;

    &--intent-default {
      color: var(--lens-ui-typography-faded-text-color);
    }

    &--intent-primary {
      color: var(--lens-ui-intents-primary-dark);
    }

    &--intent-secondary {
      color: var(--lens-ui-intents-secondary);
    }

    &--intent-success {
      color: var(--lens-ui-intents-success);
    }

    &--intent-info {
      color: var(--lens-ui-intents-infoDark);
    }

    &--intent-warning {
      color: var(--lens-ui-intents-warning);
    }

    &--intent-danger {
      color: var(--lens-ui-intents-danger);
    }
  }

  [data-lens-element='radio-group'] {
    padding-left: 2.5rem;
  }

  [data-lens-element='checkbox'] {
    padding-left: 2.5rem;
  }

  [data-lens-element='switch'] {
    padding-left: 3.3rem;
  }

}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0;
}
