@import '../../../styles/lib';

.breadcrumbs {
  @include lens-ui-typography;

  display: flex;

  &__item {
    text-decoration: none;
    color: lens-var(breadcrumbs, item-text-color);
    transition: color linear .3s;
    cursor: pointer;

    &:hover {
      color: lens-var(breadcrumbs, item-text-color, hover);
    }
  }

  &__spacer {
    padding: 0 .5rem;
    color: lens-var(typography, text-color, faded);
  }

  &__last {
    color: lens-var(breadcrumbs, last-item);
    cursor: default;
    font-weight: bold;

    &:hover {
      color: lens-var(breadcrumbs, last-item);
    }
  }
}
