@import '../../../style-lib';

.breadcrumbs {
  @include lens-ui-typography;

  display: flex;

  &__item {
    text-decoration: none;
    color: var(--lens-ui-typography-most-faded-text-color);
    cursor: pointer;
    transition: color linear .3s;

    &:hover {
      color: var(--lens-ui-intents-primary-lighten);
    }
  }

  &__spacer {
    padding: 0 .5rem;
    color: var(--lens-ui-typography-faded-text-color);
  }

  &__last {
    color: var(--lens-ui-breadcrumbs-last-item);
    cursor: default;
    font-weight: bold;

    &:hover {
      color: var(--lens-ui-breadcrumbs-last-item);
    }
  }
}
