.lens-ui-date-input {
  position: relative;
  text-align: left;
  display: block;
  min-height: 1.3125rem;
  padding-left: 1.5em;
  box-sizing: border-box;
  padding-bottom: .75rem;

  .rmdp-container {
    width: 100%;
  }

  .rmdp-input {
    display: block;
    width: 100%;
    padding: .41rem .75rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--lens-ui-typography-text-color);
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
      outline: 0;
      border: var(--lens-ui-input-base-border--active);
    }

    &.pinput-error {
      border: 1px solid var(--lens-ui-intents-danger-border);
    }
  }
}
