@import '../../../styles/lib';

.lens-ui-select-input {
  @include lens-ui-typography;

  position: relative;
  text-align: left;
  display: block;
  min-height: 1.3125rem;
  padding-left: 0;
  box-sizing: border-box;
  padding-bottom: .75rem;
  z-index: 1;

  /* stylelint-disable */
  .lens-ui-select-input__control {
    border: lens-var(input, border);
    background-color: lens-var(input, background);
  }

  .lens-ui-select-input__control--is-focused:hover,
  .lens-ui-select-input__control--is-focused {
    border: lens-var(input, border, active);
    outline: 0;
  }

  .select-input-error .lens-ui-select-input__control--is-focused,
  .select-input-error .lens-ui-select-input__control {
    border: 1px solid var(--lens-ui-intents-danger-border);
    box-shadow: none;
  }
  /* stylelint-enable */

  &:active {
    filter: brightness(90%);
  }
}
