@import '../../../styles/lib';

/* stylelint-disable -- completly buggy on this file*/
.lens-ui-select-input {
  @include lens-ui-typography;

  position      : relative;
  text-align    : left;
  display       : block;
  min-height    : 1.3125rem;
  padding-left  : 0;
  box-sizing    : border-box;
  padding-bottom: .75rem;
  z-index       : 1;

  .lens-ui-select-input__control {
    border          : lens-var(input, border);
    background-color: lens-var(input, background);
  }

  .lens-ui-select-input__control--is-focused:hover,
  .lens-ui-select-input__control--is-focused {
    border : lens-var(input, border, active);
    outline: 0;
  }

  .select-input-error .lens-ui-select-input__control--is-focused,
  .select-input-error .lens-ui-select-input__control {
    border    : 0.0625rem solid var(--lens-ui-intents-danger-border);
    box-shadow: none;
  }

  /* stylelint-enable */

  &:active {
    filter: brightness(90%);
  }

  .lens-ui-select-input {

    /* stylelint-disable -- completly buggy on this file*/
    &--size-small {
      .lens-ui-select-input__control{
        min-height: 1.75rem;
        font-size    : lens-var(input_size, font-size, small);
        line-height  : lens-var(input_size, line-height, small);
        border-radius: lens-var(input_size, border-radius, small);
      }

      .lens-ui-select-input__dropdown-indicator {
        padding: .20rem;
      }
    }

    &--size-medium {
      .lens-ui-select-input__control{
        min-height: 2.375rem;
        font-size    : lens-var(input_size, font-size, medium);
        line-height  : lens-var(input_size, line-height, medium);
        border-radius: lens-var(input_size, border-radius, medium);
      }

      .lens-ui-select-input__dropdown-indicator {
        padding: .5rem;
      }
    }

    &--size-large {
      .lens-ui-select-input__control{
        min-height: 3.125rem;
        font-size    : lens-var(input_size, font-size, large);
        line-height  : lens-var(input_size, line-height, large);
        border-radius: lens-var(input_size, border-radius, large);
      }

      .lens-ui-select-input__dropdown-indicator {
        padding: 0.85rem;
      }
    }
  }
}