@import '../../../style-lib';

.message-box {
  @include lens-ui-typography;

  --stripped-opacity: .03;

  display: flex;
  overflow: hidden;
  font-size: .65625rem;
  border-radius: .1rem;
  flex-direction: column;
  position: relative;
  margin-top: .2rem;
  margin-bottom: .2rem;
  box-sizing: border-box;
  transition: opacity linear .3s;
  box-shadow: var(--lens-ui-elements-card-box-shadow);

  &--hidden {
    opacity: 0;
  }

  &__title {
    @include lens-ui-typography-no-color;

    padding: .2rem;
    flex: 1;
    font-size: .84rem;
    font-weight: bold;
  }

  &__content {
    padding: .2rem;
    flex: 1;
    font-size: .8rem;
  }

  [data-lens-element='progress-bar'],
  [data-lens-element='progress-bar__indicator'] {
    border-radius: 0;
    height: .3rem !important;
  }

  &__close-button {
    position: absolute;
    border: 0;
    background: transparent;
    top: 0;
    right: 0;
    display: flex;
    width: 20px;
    height: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &--striped {
    background-image: linear-gradient(45deg, rgb(255 255 255 / var(--stripped-opacity)) 25%, transparent 25%, transparent 50%, rgb(255 255 255 / var(--stripped-opacity)) 50%, rgb(255 255 255 / var(--stripped-opacity)) 75%, transparent 75%, transparent);
    background-size: .625rem .625rem;
  }

  &--intent-primary {
    background-color: var(--lens-ui-intents-primary);
    color: var(--lens-ui-intents-primary-text);
    border: 1px solid var(--lens-ui-intents-primary-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-primary-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-primary-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-primary-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-secondary {
    background-color: var(--lens-ui-intents-secondary);
    color: var(--lens-ui-intents-secondary-text);
    border: 1px solid var(--lens-ui-intents-secondary-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-secondary-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-secondary-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-secondary-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-success {
    background-color: var(--lens-ui-intents-success);
    color: var(--lens-ui-intents-success-text);
    border: 1px solid var(--lens-ui-intents-success-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-success-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-success-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-success-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-info {
    background-color: var(--lens-ui-intents-info);
    color: var(--lens-ui-intents-info-text);
    border: 1px solid var(--lens-ui-intents-info-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-info-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-info-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-info-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-warning {
    background-color: var(--lens-ui-intents-warning);
    color: var(--lens-ui-intents-warning-text);
    border: 1px solid var(--lens-ui-intents-warning-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-warning-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-warning-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-warning-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-danger {
    background-color: var(--lens-ui-intents-danger);
    color: var(--lens-ui-intents-danger-text);
    border: 1px solid var(--lens-ui-intents-danger-border);

    [data-lens-element='message-box__close-button'],
    [data-lens-element='message-box__close-button'] > svg {
      fill: var(--lens-ui-intents-danger-text);
    }

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-danger-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-danger-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }
}
