@import './style-lib';

body {
  @include lens-ui-typography-base;
}

.swal2-styled.swal2-confirm {
  background-color: var(--lens-ui-intents-primary);
}

.swal2-styled.swal2-cancel {
  background-color: var(--lens-ui-intents-secondary-dark);
}

.swal2-styled.swal2-deny {
  background-color: var(--lens-ui-intents-danger);
}

:root {
  --bs-font-sans-serif: var(--lens-ui-typography-font-family);
}

.lens-ui-typography {
  @include lens-ui-typography-no-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include lens-ui-typography-base;

  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

@keyframes lens-ui-fade-in {
  0.0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.lens-ui-no-select {
  user-select: none;
}

.lens-ui-table {
  caption-side: bottom;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: var(--lens-ui-typography-text-color);
  vertical-align: top;
  border-color: var(--lens-ui-table-border-color);
  cursor: default;

  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    @include lens-ui-typography;

    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }

  thead {
    display: table-header-group;
  }

  th {
    font-weight: 600;
  }

  & > :not(:last-child) > :last-child > * {
    border-bottom-color: var(--lens-ui-table-border-color);
  }

  & > :not(:last-child) > :last-child > * {
    border-bottom-color: var(--lens-ui-table-border-color);
  }

  & > :not(caption) > * > * {
    border-bottom-width: 0;
    border-top-width: 1px;
  }

  & > :not(caption) > * > * {
    padding: .75rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--lens-ui-table-accent-bg);
  }

  & > tbody > tr:hover {
    background-color: var(--lens-ui-table-hover-bg);
  }
}

.lens-ui-intent-primary {
  color: var(--lens-ui-intents-primary-text);
  border-color: var(--lens-ui-intents-primary-border);
  background-color: var(--lens-ui-intents-primary);
}

.lens-ui-intent-secondary {
  color: var(--lens-ui-intents-secondary-text);
  border-color: var(--lens-ui-intents-secondary-border);
  background-color: var(--lens-ui-intents-secondary);
}

.lens-ui-intent-success {
  color: var(--lens-ui-intents-success-text);
  border-color: var(--lens-ui-intents-success-border);
  background-color: var(--lens-ui-intents-success);
}

.lens-ui-intent-danger {
  color: var(--lens-ui-intents-danger-text);
  border-color: var(--lens-ui-intents-danger-border);
  background-color: var(--lens-ui-intents-danger);
}

.lens-ui-intent-info {
  color: var(--lens-ui-intents-info-text);
  border-color: var(--lens-ui-intents-info-border);
  background-color: var(--lens-ui-intents-info);
}

.lens-ui-intent-warning {
  color: var(--lens-ui-intents-warning-text);
  border-color: var(--lens-ui-intents-warning-border);
  background-color: var(--lens-ui-intents-warning);
}

.lens-ui-intent-primary-light {
  color: var(--lens-ui-intents-primary-light-text);
  border-color: var(--lens-ui-intents-primary-light-border);
  background-color: var(--lens-ui-intents-primary-light);
}

.lens-ui-intent-secondary-light {
  color: var(--lens-ui-intents-secondary-light-text);
  border-color: var(--lens-ui-intents-secondary-light-border);
  background-color: var(--lens-ui-intents-secondary-light);
}

.lens-ui-intent-success-light {
  color: var(--lens-ui-intents-success-light-text);
  border-color: var(--lens-ui-intents-success-light-border);
  background-color: var(--lens-ui-intents-success-light);
}

.lens-ui-intent-danger-light {
  color: var(--lens-ui-intents-danger-light-text);
  border-color: var(--lens-ui-intents-danger-light-border);
  background-color: var(--lens-ui-intents-danger-light);
}

.lens-ui-intent-info-light {
  color: var(--lens-ui-intents-info-light-text);
  border-color: var(--lens-ui-intents-info-light-border);
  background-color: var(--lens-ui-intents-info-light);
}

.lens-ui-intent-warning-light {
  color: var(--lens-ui-intents-warning-light-text);
  border-color: var(--lens-ui-intents-warning-light-border);
  background-color: var(--lens-ui-intents-warning-light);
}

.lens-ui-intent-primary-lighten {
  color: var(--lens-ui-intents-primary-lighten-text);
  border-color: var(--lens-ui-intents-primary-lighten-border);
  background-color: var(--lens-ui-intents-primary-lighten);
}

.lens-ui-intent-secondary-lighten {
  color: var(--lens-ui-intents-secondary-lighten-text);
  border-color: var(--lens-ui-intents-secondary-lighten-border);
  background-color: var(--lens-ui-intents-secondary-lighten);
}

.lens-ui-intent-success-lighten {
  color: var(--lens-ui-intents-success-lighten-text);
  border-color: var(--lens-ui-intents-success-lighten-border);
  background-color: var(--lens-ui-intents-success-lighten);
}

.lens-ui-intent-danger-lighten {
  color: var(--lens-ui-intents-danger-lighten-text);
  border-color: var(--lens-ui-intents-danger-lighten-border);
  background-color: var(--lens-ui-intents-danger-lighten);
}

.lens-ui-intent-info-lighten {
  color: var(--lens-ui-intents-info-lighten-text);
  border-color: var(--lens-ui-intents-info-lighten-border);
  background-color: var(--lens-ui-intents-info-lighten);
}

.lens-ui-intent-warning-lighten {
  color: var(--lens-ui-intents-warning-lighten-text);
  border-color: var(--lens-ui-intents-warning-lighten-border);
  background-color: var(--lens-ui-intents-warning-lighten);
}

.lens-ui-intent-primary-dark {
  color: var(--lens-ui-intents-primary-dark-text);
  border-color: var(--lens-ui-intents-primary-dark-border);
  background-color: var(--lens-ui-intents-primary-dark);
}

.lens-ui-intent-secondary-dark {
  color: var(--lens-ui-intents-secondary-dark-text);
  border-color: var(--lens-ui-intents-secondary-dark-border);
  background-color: var(--lens-ui-intents-secondary-dark);
}

.lens-ui-intent-success-dark {
  color: var(--lens-ui-intents-success-dark-text);
  border-color: var(--lens-ui-intents-success-dark-border);
  background-color: var(--lens-ui-intents-success-dark);
}

.lens-ui-intent-danger-dark {
  color: var(--lens-ui-intents-danger-dark-text);
  border-color: var(--lens-ui-intents-danger-dark-border);
  background-color: var(--lens-ui-intents-danger-dark);
}

.lens-ui-intent-info-dark {
  color: var(--lens-ui-intents-info-dark-text);
  border-color: var(--lens-ui-intents-info-dark-border);
  background-color: var(--lens-ui-intents-info-dark);
}

.lens-ui-intent-warning-dark {
  color: var(--lens-ui-intents-warning-dark-text);
  border-color: var(--lens-ui-intents-warning-dark-border);
  background-color: var(--lens-ui-intents-warning-dark);
}

.lens-ui-intent-primary-darken {
  color: var(--lens-ui-intents-primary-darken-text);
  border-color: var(--lens-ui-intents-primary-darken-border);
  background-color: var(--lens-ui-intents-primary-darken);
}

.lens-ui-intent-secondary-darken {
  color: var(--lens-ui-intents-secondary-darken-text);
  border-color: var(--lens-ui-intents-secondary-darken-border);
  background-color: var(--lens-ui-intents-secondary-darken);
}

.lens-ui-intent-success-darken {
  color: var(--lens-ui-intents-success-darken-text);
  border-color: var(--lens-ui-intents-success-darken-border);
  background-color: var(--lens-ui-intents-success-darken);
}

.lens-ui-intent-danger-darken {
  color: var(--lens-ui-intents-danger-darken-text);
  border-color: var(--lens-ui-intents-danger-darken-border);
  background-color: var(--lens-ui-intents-danger-darken);
}

.lens-ui-intent-info-darken {
  color: var(--lens-ui-intents-info-darken-text);
  border-color: var(--lens-ui-intents-info-darken-border);
  background-color: var(--lens-ui-intents-info-darken);
}

.lens-ui-intent-warning-darken {
  color: var(--lens-ui-intents-warning-darken-text);
  border-color: var(--lens-ui-intents-warning-darken-border);
  background-color: var(--lens-ui-intents-warning-darken);
}


/* stylelint-disable */
.lens-ui-select-input__menu-portal,
.lens-ui-select-input__menu {
  z-index: map-get($layers, 'Select') !important;
}
/* stylelint-enable */