$intent-type: ('secondary' , 'primary' , 'success' , 'info' , 'warning' , 'danger');

@mixin lens-ui-typography-no-color {
  font-family: var(--lens-ui-typography-font-family);
  line-height: 1rem;
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin lens-ui-typography-base {
  @include lens-ui-typography-no-color;

  color: var(--lens-ui-typography-text-color);
}

@mixin lens-ui-typography {
  @include lens-ui-typography-base;

  font-size: var(--lens-ui-typography-font-size);
}

@function l-var($component, $var) {
  @return var(--lens-ui--elements-#{$component}-#{$var});
}

@mixin l-def($component, $var, $value) {
  --lens-ui--elements-#{$component}-#{$var}: $value;
}

.lens-ui-font-definition {
  font-family: var(--lens-ui-typography-font-family);
  font-size: var(--lens-ui-typography-font-size);
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$layers: (
  'default': 1,
  'Modal': 1050,
  'Alerts': 1060,
  'Toast': 1070,
  'OverlaySurfaces': 1080,
);
