$intent-type: ('secondary' , 'primary' , 'success' , 'info' , 'warning' , 'danger');

@mixin lens-ui-typography {
  font-family: var(--lens-ui-typography-font-family);
  font-size: var(--lens-ui-typography-font-size);
  font-style: normal;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$layers: (
  'default': 1,
  'OverlaySurfaces': 1040,
  'Modal': 1050,
  'Alerts': 1060,
  'Toast': 1070,
);
