@import 'style-lib';

@mixin typography-component-base {
  font-family: var(--lens-ui-typography-font-family);
  font-style: normal;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: var(--typography-gutter-bottom);
  margin-top: 0;
  text-align: var(--typography-align);
  color: var(--lens-ui-typography-text-color);
}

@mixin h1 {
  font-weight: 300;
  font-size: 6rem;
  line-height: 1.167;
  letter-spacing: -.01562em;
}

@mixin h2 {
  font-weight: 300;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -.00833em;
}

@mixin h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0;
}

@mixin h4 {
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235rem;
  letter-spacing: .0073;
}

@mixin h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0;
}

@mixin h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: .0075em;
}

@mixin subtitle1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: .00938em;
}

@mixin subtitle2 {
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.57rem;
  letter-spacing: .00714em;
}

@mixin body1 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: .00938em;
}

@mixin body2 {
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.43rem;
  letter-spacing: .01071em;
}

@mixin caption {
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.66;
  letter-spacing: .03333em;
  margin-top: .35em;
  display: block;
}

@mixin overline {
  font-weight: 400;
  font-size: .75rem;
  line-height: 2.66;
  letter-spacing: .08333em;
  text-transform: uppercase;
  display: block;
}

@mixin button {
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  vertical-align: middle;
  font-size: .875rem;
}

@mixin no-wrap {
  white-space: nowrap;
}
