:root {
  --lens-ui-hue-primary: 207;
  --lens-ui-hue-success: 160;
  --lens-ui-hue-secondary: 230;
  --lens-ui-hue-danger: 0;
  --lens-ui-hue-info: 195;
  --lens-ui-hue-warning: 38;
  --lens-ui-hue-light: 220;
  --lens-ui-hue-dark: 210;
  --lens-ui-hue-bg: 214;
  --lens-ui-hue-primary-text: 0;
  --lens-ui-hue-success-text: 0;
  --lens-ui-hue-secondary-text: 210;
  --lens-ui-hue-danger-text: 0;
  --lens-ui-hue-info-text: 0;
  --lens-ui-hue-warning-text: 0;
  --lens-ui-hue-light-text: 0;
  --lens-ui-hue-dark-text: 210;
  --lens-ui-hue-bg-text: 210;
  --lens-ui-hue-primary-text-active: 207;
  --lens-ui-hue-success-text-active: 160;
  --lens-ui-hue-secondary-text-active: 230;
  --lens-ui-hue-danger-text-active: 0;
  --lens-ui-hue-info-text-active: 195;
  --lens-ui-hue-warning-text-active: 38;
  --lens-ui-hue-light-text-active: 220;
  --lens-ui-hue-dark-text-active: 210;
  --lens-ui-hue-bg-text-active: 207;

  /* calculated */
  --lens-ui-hue-primary-dark: calc(var(--lens-ui-hue-primary) - 1);
  --lens-ui-hue-primary-darken: calc(var(--lens-ui-hue-primary) + 1);
  --lens-ui-hue-secondary-light: calc(var(--lens-ui-hue-secondary) + 2);
  --lens-ui-hue-secondary-dark: calc(var(--lens-ui-hue-secondary) + 2);
  --lens-ui-hue-secondary-lighten: calc(var(--lens-ui-hue-secondary) - 2);
  --lens-ui-hue-secondary-darken: calc(var(--lens-ui-hue-secondary) - 2);
  --lens-ui-hue-success-light: calc(var(--lens-ui-hue-success) - 2);
  --lens-ui-hue-success-dark: calc(var(--lens-ui-hue-success) + 1);
  --lens-ui-elements-link-link-text: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-link-link-font-weight: 400;
  --lens-ui-elements-button-font-family: var(--lens-ui-typography-font-family);
  --lens-ui-elements-button-outlined-bg-color: rgb(255 255 255);
  --lens-ui-elements-button-primary-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-border-color: var(--lens-ui-intents-primary-border);
  --lens-ui-elements-button-primary-background-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-button-primary-hover-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-hover-background-color: hsl(var(--lens-ui-hue-primary) 51% 52%);
  --lens-ui-elements-button-primary-hover-border-color: hsl(var(--lens-ui-hue-primary) 47% 49%);
  --lens-ui-elements-button-primary-active-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-active-background-color: hsl(var(--lens-ui-hue-primary) 47% 49%);
  --lens-ui-elements-button-primary-active-border-color: hsl(var(--lens-ui-hue-primary) 47% 46%);
  --lens-ui-elements-button-primary-focus-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-focus-background-color: hsl(var(--lens-ui-hue-primary) 51% 52%);
  --lens-ui-elements-button-primary-focus-border-color: hsl(var(--lens-ui-hue-primary) 47% 49%);
  --lens-ui-elements-button-primary-focus-box-shadow-color: hsl(var(--lens-ui-hue-primary) 74% 67% / 50.2%);
  --lens-ui-elements-button-primary-disabled-text-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-button-primary-disabled-background-color: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-button-primary-disabled-border-color: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-elements-button-secondary-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-border-color: var(--lens-ui-intents-secondary-border);
  --lens-ui-elements-button-secondary-background-color: var(--lens-ui-intents-secondary);
  --lens-ui-elements-button-secondary-hover-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-hover-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 43%);
  --lens-ui-elements-button-secondary-hover-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 40%);
  --lens-ui-elements-button-secondary-active-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-active-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 40%);
  --lens-ui-elements-button-secondary-active-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 38%);
  --lens-ui-elements-button-secondary-focus-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-focus-background-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 43%);
  --lens-ui-elements-button-secondary-focus-border-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 40%);
  --lens-ui-elements-button-secondary-focus-box-shadow-color: hsl(calc(var(--lens-ui-hue-secondary) + 1) 10% 58% / 50.2%);
  --lens-ui-elements-button-secondary-disabled-text-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-button-secondary-disabled-background-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-button-secondary-disabled-border-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-button-success-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-border-color: var(--lens-ui-intents-success-border);
  --lens-ui-elements-button-success-background-color: var(--lens-ui-intents-success);
  --lens-ui-elements-button-success-hover-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-hover-background-color: hsl(var(--lens-ui-hue-success) 70% 39%);
  --lens-ui-elements-button-success-hover-border-color: hsl(var(--lens-ui-hue-success) 70% 36%);
  --lens-ui-elements-button-success-active-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-active-background-color: hsl(var(--lens-ui-hue-success) 70% 36%);
  --lens-ui-elements-button-success-active-border-color: hsl(var(--lens-ui-hue-success) 70% 34%);
  --lens-ui-elements-button-success-focus-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-focus-background-color: hsl(var(--lens-ui-hue-success) 70% 39%);
  --lens-ui-elements-button-success-focus-border-color: hsl(var(--lens-ui-hue-success) 70% 36%);
  --lens-ui-elements-button-success-focus-box-shadow-color: hsl(var(--lens-ui-hue-success) 58% 54% / 50.2%);
  --lens-ui-elements-button-success-disabled-text-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-button-success-disabled-background-color: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-elements-button-success-disabled-border-color: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-elements-button-info-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-border-color: var(--lens-ui-intents-info-border);
  --lens-ui-elements-button-info-background-color: var(--lens-ui-intents-info);
  --lens-ui-elements-button-info-hover-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-hover-background-color: hsl(var(--lens-ui-hue-info) 50% 53%);
  --lens-ui-elements-button-info-hover-border-color: hsl(var(--lens-ui-hue-info) 43% 50%);
  --lens-ui-elements-button-info-active-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-active-background-color: hsl(var(--lens-ui-hue-info) 43% 50%);
  --lens-ui-elements-button-info-active-border-color: hsl(var(--lens-ui-hue-info) 43% 47%);
  --lens-ui-elements-button-info-focus-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-focus-background-color: hsl(var(--lens-ui-hue-info) 50% 53%);
  --lens-ui-elements-button-info-focus-border-color: hsl(var(--lens-ui-hue-info) 43% 50%);
  --lens-ui-elements-button-info-focus-box-shadow-color: hsl(var(--lens-ui-hue-info) 73% 68% / 50.2%);
  --lens-ui-elements-button-info-disabled-text-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-button-info-disabled-background-color: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-elements-button-info-disabled-border-color: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-elements-button-warning-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-border-color: var(--lens-ui-intents-warning-border);
  --lens-ui-elements-button-warning-background-color: var(--lens-ui-intents-warning);
  --lens-ui-elements-button-warning-hover-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-hover-background-color: hsl(var(--lens-ui-hue-warning) 57% 52%);
  --lens-ui-elements-button-warning-hover-border-color: hsl(var(--lens-ui-hue-warning) 53% 49%);
  --lens-ui-elements-button-warning-active-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-active-background-color: hsl(var(--lens-ui-hue-warning) 53% 49%);
  --lens-ui-elements-button-warning-active-border-color: hsl(var(--lens-ui-hue-warning) 54% 46%);
  --lens-ui-elements-button-warning-focus-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-focus-background-color: hsl(var(--lens-ui-hue-warning) 57% 52%);
  --lens-ui-elements-button-warning-focus-border-color: hsl(var(--lens-ui-hue-warning) 53% 49%);
  --lens-ui-elements-button-warning-focus-box-shadow-color: hsl(var(--lens-ui-hue-warning) 84% 67% / 50.2%);
  --lens-ui-elements-button-warning-disabled-text-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-button-warning-disabled-background-color: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-elements-button-warning-disabled-border-color: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-elements-button-danger-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-border-color: var(--lens-ui-intents-danger-border);
  --lens-ui-elements-button-danger-background-color: var(--lens-ui-intents-danger);
  --lens-ui-elements-button-danger-hover-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-hover-background-color: hsl(var(--lens-ui-hue-danger) 58% 53%);
  --lens-ui-elements-button-danger-hover-border-color: hsl(var(--lens-ui-hue-danger) 51% 50%);
  --lens-ui-elements-button-danger-active-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-active-background-color: hsl(var(--lens-ui-hue-danger) 51% 50%);
  --lens-ui-elements-button-danger-active-border-color: hsl(var(--lens-ui-hue-danger) 51% 47%);
  --lens-ui-elements-button-danger-focus-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-focus-background-color: hsl(var(--lens-ui-hue-danger) 58% 53%);
  --lens-ui-elements-button-danger-focus-border-color: hsl(var(--lens-ui-hue-danger) 51% 50%);
  --lens-ui-elements-button-danger-focus-box-shadow-color: hsl(var(--lens-ui-hue-danger) 85% 68% / 50.2%);
  --lens-ui-elements-button-danger-disabled-text-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-button-danger-disabled-background-color: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-elements-button-danger-disabled-border-color: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-elements-button-light-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-border-color: var(--lens-ui-intents-light-border);
  --lens-ui-elements-button-light-background-color: var(--lens-ui-intents-light);
  --lens-ui-elements-button-light-hover-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-hover-background-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-hover-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-active-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-active-background-color: hsl(var(--lens-ui-hue-light) 43% 99%);
  --lens-ui-elements-button-light-active-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-focus-background-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-border-color: hsl(var(--lens-ui-hue-light) 25% 98%);
  --lens-ui-elements-button-light-focus-box-shadow-color: hsl(var(--lens-ui-hue-light) 2% 84% / 50.2%);
  --lens-ui-elements-button-light-disabled-text-color: var(--lens-ui-intents-light-text);
  --lens-ui-elements-button-light-disabled-background-color: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-elements-button-light-disabled-border-color: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-elements-button-dark-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-border-color: var(--lens-ui-intents-dark-border);
  --lens-ui-elements-button-dark-background-color: var(--lens-ui-intents-dark);
  --lens-ui-elements-button-dark-hover-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-hover-background-color: hsl(var(--lens-ui-hue-dark) 10% 19%);
  --lens-ui-elements-button-dark-hover-border-color: hsl(var(--lens-ui-hue-dark) 10% 18%);
  --lens-ui-elements-button-dark-active-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-active-background-color: hsl(var(--lens-ui-hue-dark) 10% 18%);
  --lens-ui-elements-button-dark-active-border-color: hsl(var(--lens-ui-hue-dark) 10% 17%);
  --lens-ui-elements-button-dark-focus-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-focus-background-color: hsl(var(--lens-ui-hue-dark) 10% 19%);
  --lens-ui-elements-button-dark-focus-border-color: hsl(var(--lens-ui-hue-dark) 10% 18%);
  --lens-ui-elements-button-dark-focus-box-shadow-color: hsl(var(--lens-ui-hue-dark) 6% 34% / 50.2%);
  --lens-ui-elements-button-dark-disabled-text-color: var(--lens-ui-intents-dark-text);
  --lens-ui-elements-button-dark-disabled-background-color: hsl(var(--lens-ui-hue-dark) 10% 23%);
  --lens-ui-elements-button-dark-disabled-border-color: hsl(var(--lens-ui-hue-dark) 10% 23%);
  --lens-ui-elements-card-typography-font-family: var(--lens-ui-typography-font-family);
  --lens-ui-elements-card-typography-default-text-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-typography-faded-text-color: var(--lens-ui-typography-faded-text-color);
  --lens-ui-elements-card-border-radius: .25rem;
  --lens-ui-elements-card-box-shadow: rgb(0 0 0 / 20%) 0 2px 1px -1px, rgb(0 0 0 / 14%) 0 1px 1px 0, rgb(0 0 0 / 12%) 0 1px 3px 0;
  --lens-ui-elements-card-elements-card-body-padding: 1.25rem 1.25rem;
  --lens-ui-elements-card-elements-card-text-margin: 0 0 1rem 0;
  --lens-ui-elements-card-backgrounds-default-border-color: hsl(var(--lens-ui-hue-bg) 20% 93%);
  --lens-ui-elements-card-backgrounds-default-background-color: hsl(var(--lens-ui-hue-bg) 0% 100%);
  --lens-ui-elements-card-backgrounds-default-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-backgrounds-default-color-active: var(--lens-ui-typography-text-color-active);
  --lens-ui-elements-card-backgrounds-default-card-title-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-card-backgrounds-default-card-sub-title-color: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-elements-card-backgrounds-default-card-link-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-card-backgrounds-default-card-link-hover-color: var(--lens-ui-intents-primary-light);
  --lens-ui-elements-card-backgrounds-primary-border-color: var(--lens-ui-intents-primary-border);
  --lens-ui-elements-card-backgrounds-primary-background-color: var(--lens-ui-intents-primary);
  --lens-ui-elements-card-backgrounds-primary-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-color-active: var(--lens-ui-intents-primary-text-active);
  --lens-ui-elements-card-backgrounds-primary-card-title-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-card-sub-title-color: var(--lens-ui-intents-primary-light-text);
  --lens-ui-elements-card-backgrounds-primary-card-link-color: var(--lens-ui-intents-primary-text);
  --lens-ui-elements-card-backgrounds-primary-card-link-hover-color: var(--lens-ui-intents-primary-light-text);
  --lens-ui-elements-card-backgrounds-secondary-border-color: var(--lens-ui-intents-secondary-border);
  --lens-ui-elements-card-backgrounds-secondary-background-color: var(--lens-ui-intents-secondary);
  --lens-ui-elements-card-backgrounds-secondary-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-color-active: var(--lens-ui-intents-secondary-text-active);
  --lens-ui-elements-card-backgrounds-secondary-card-title-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-card-sub-title-color: var(--lens-ui-intents-secondary-light-text);
  --lens-ui-elements-card-backgrounds-secondary-card-link-color: var(--lens-ui-intents-secondary-text);
  --lens-ui-elements-card-backgrounds-secondary-card-link-hover-color: var(--lens-ui-intents-secondary-light-text);
  --lens-ui-elements-card-backgrounds-success-border-color: var(--lens-ui-intents-success-border);
  --lens-ui-elements-card-backgrounds-success-background-color: var(--lens-ui-intents-success);
  --lens-ui-elements-card-backgrounds-success-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-color-active: var(--lens-ui-intents-success-text-active);
  --lens-ui-elements-card-backgrounds-success-card-title-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-card-sub-title-color: var(--lens-ui-intents-success-light-text);
  --lens-ui-elements-card-backgrounds-success-card-link-color: var(--lens-ui-intents-success-text);
  --lens-ui-elements-card-backgrounds-success-card-link-hover-color: var(--lens-ui-intents-success-light-text);
  --lens-ui-elements-card-backgrounds-info-border-color: var(--lens-ui-intents-info-border);
  --lens-ui-elements-card-backgrounds-info-background-color: var(--lens-ui-intents-info);
  --lens-ui-elements-card-backgrounds-info-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-color-active: var(--lens-ui-intents-info-text-active);
  --lens-ui-elements-card-backgrounds-info-card-title-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-card-sub-title-color: var(--lens-ui-intents-info-light-text);
  --lens-ui-elements-card-backgrounds-info-card-link-color: var(--lens-ui-intents-info-text);
  --lens-ui-elements-card-backgrounds-info-card-link-hover-color: var(--lens-ui-intents-info-light-text);
  --lens-ui-elements-card-backgrounds-warning-border-color: var(--lens-ui-intents-warning-border);
  --lens-ui-elements-card-backgrounds-warning-background-color: var(--lens-ui-intents-warning);
  --lens-ui-elements-card-backgrounds-warning-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-color-active: var(--lens-ui-intents-warning-text-active);
  --lens-ui-elements-card-backgrounds-warning-card-title-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-card-sub-title-color: var(--lens-ui-intents-warning-light-text);
  --lens-ui-elements-card-backgrounds-warning-card-link-color: var(--lens-ui-intents-warning-text);
  --lens-ui-elements-card-backgrounds-warning-card-link-hover-color: var(--lens-ui-intents-warning-light-text);
  --lens-ui-elements-card-backgrounds-danger-border-color: var(--lens-ui-intents-danger-border);
  --lens-ui-elements-card-backgrounds-danger-background-color: var(--lens-ui-intents-danger);
  --lens-ui-elements-card-backgrounds-danger-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-color-active: var(--lens-ui-intents-danger-text-active);
  --lens-ui-elements-card-backgrounds-danger-card-title-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-card-sub-title-color: var(--lens-ui-intents-danger-light-text);
  --lens-ui-elements-card-backgrounds-danger-card-link-color: var(--lens-ui-intents-danger-text);
  --lens-ui-elements-card-backgrounds-danger-card-link-hover-color: var(--lens-ui-intents-danger-light-text);
  --lens-ui-elements-drop-down-menu-shadow-color: #dedede;
  --lens-ui-elements-drop-down-menu-divider-shadow-color: #f1f1f1;
  --lens-ui-elements-tabs-border: hsl(210deg 14% 83%);
  --lens-ui-elements-tabs-border-faded: hsl(210deg 29% 95%);
  --lens-ui-elements-list-border: hsl(210deg 14% 83%);
  --lens-ui-elements-tabs-header-bg: hsl(210deg 29% 95%);
  --lens-ui-table-bg: transparent;
  --lens-ui-table-active-color: #495057;
  --lens-ui-table-active-bg: #f9fafc;
  --lens-ui-table-hover-color: #495057;
  --lens-ui-table-hover-bg: #f9fafc;
  --lens-ui-table-border-color: #edf1f5;
  --lens-ui-elements-layout-sidebar-background-color: hsl(var(--lens-ui-hue-bg) 0% 100%);
  --lens-ui-elements-layout-sidebar-border-right: 1px solid hsl(var(--lens-ui-hue-bg) 0% 87%);
  --lens-ui-elements-layout-sidebar-text-color: var(--lens-ui-typography-text-color);
  --lens-ui-elements-divider-color: hsl(var(--lens-ui-hue-dark) 16% 43%);
  --lens-ui-elements-divider-text-color: hsl(var(--lens-ui-hue-dark) 16% 43%);
  --lens-ui-intents-primary: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-intents-primary-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-text-active: hsl(var(--lens-ui-hue-primary-text-active) 100% 100%);
  --lens-ui-intents-primary-border: hsl(var(--lens-ui-hue-primary) 74% 61%);
  --lens-ui-intents-primary-light: hsl(var(--lens-ui-hue-primary) 86% 66%);
  --lens-ui-intents-primary-light-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-light-border: hsl(var(--lens-ui-hue-primary) 86% 66%);
  --lens-ui-intents-primary-dark: hsl(var(--lens-ui-hue-primary-dark) 56% 54%);
  --lens-ui-intents-primary-dark-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-dark-border: hsl(var(--lens-ui-hue-primary-dark) 56% 54%);
  --lens-ui-intents-primary-lighten: hsl(var(--lens-ui-hue-primary) 88% 73%);
  --lens-ui-intents-primary-lighten-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-lighten-border: hsl(var(--lens-ui-hue-primary) 88% 73%);
  --lens-ui-intents-primary-darken: hsl(var(--lens-ui-hue-primary-darken) 50% 42%);
  --lens-ui-intents-primary-darken-text: hsl(var(--lens-ui-hue-primary-text) 0% 100%);
  --lens-ui-intents-primary-darken-border: hsl(var(--lens-ui-hue-primary-darken) 50% 42%);
  --lens-ui-intents-secondary: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-intents-secondary-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-text-active: hsl(var(--lens-ui-hue-secondary-text-active) 29% 95%);
  --lens-ui-intents-secondary-border: hsl(var(--lens-ui-hue-secondary) 10% 50%);
  --lens-ui-intents-secondary-light: hsl(var(--lens-ui-hue-secondary-light) 14% 60%);
  --lens-ui-intents-secondary-light-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-light-border: hsl(var(--lens-ui-hue-secondary-light) 14% 60%);
  --lens-ui-intents-secondary-dark: hsl(var(--lens-ui-hue-secondary-dark) 10% 44%);
  --lens-ui-intents-secondary-dark-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-dark-border: hsl(var(--lens-ui-hue-secondary-dark) 10% 44%);
  --lens-ui-intents-secondary-lighten: hsl(var(--lens-ui-hue-secondary-lighten) 26% 74%);
  --lens-ui-intents-secondary-lighten-text: hsl(0deg 0% 35%);
  --lens-ui-intents-secondary-lighten-border: hsl(var(--lens-ui-hue-secondary-lighten) 26% 74%);
  --lens-ui-intents-secondary-darken: hsl(var(--lens-ui-hue-secondary-darken) 10% 30%);
  --lens-ui-intents-secondary-darken-text: hsl(var(--lens-ui-hue-secondary-text) 29% 95%);
  --lens-ui-intents-secondary-darken-border: hsl(var(--lens-ui-hue-secondary-darken) 10% 30%);
  --lens-ui-intents-success: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-intents-success-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-text-active: hsl(var(--lens-ui-hue-success-text-active) 0% 100%);
  --lens-ui-intents-success-border: hsl(var(--lens-ui-hue-success) 70% 45%);
  --lens-ui-intents-success-light: hsl(var(--lens-ui-hue-success-light) 67% 56%);
  --lens-ui-intents-success-light-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-light-border: hsl(var(--lens-ui-hue-success-light) 67% 56%);
  --lens-ui-intents-success-dark: hsl(var(--lens-ui-hue-success-dark) 68% 38%);
  --lens-ui-intents-success-dark-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-dark-border: hsl(var(--lens-ui-hue-success-dark) 68% 38%);
  --lens-ui-intents-success-lighten: hsl(var(--lens-ui-hue-success) 63% 63%);
  --lens-ui-intents-success-lighten-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-lighten-border: hsl(var(--lens-ui-hue-success) 63% 63%);
  --lens-ui-intents-success-darken: hsl(var(--lens-ui-hue-success) 66% 25%);
  --lens-ui-intents-success-darken-text: hsl(var(--lens-ui-hue-success-text) 0% 100%);
  --lens-ui-intents-success-darken-border: hsl(var(--lens-ui-hue-success) 66% 25%);
  --lens-ui-intents-danger: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-intents-danger-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-text-active: hsl(var(--lens-ui-hue-danger-text-active) 0% 100%);
  --lens-ui-intents-danger-border: hsl(var(--lens-ui-hue-danger) 85% 63%);
  --lens-ui-intents-danger-light: hsl(var(--lens-ui-hue-danger) 100% 71%);
  --lens-ui-intents-danger-light-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-light-border: hsl(var(--lens-ui-hue-danger) 100% 71%);
  --lens-ui-intents-danger-dark: hsl(var(--lens-ui-hue-danger-text) 69% 56%);
  --lens-ui-intents-danger-dark-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-dark-border: rgb(var(--lens-ui-hue-light) 67 67);
  --lens-ui-intents-danger-lighten: hsl(var(--lens-ui-hue-danger) 100% 77%);
  --lens-ui-intents-danger-lighten-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-lighten-border: hsl(var(--lens-ui-hue-danger) 100% 77%);
  --lens-ui-intents-danger-darken: hsl(var(--lens-ui-hue-danger) 55% 48%);
  --lens-ui-intents-danger-darken-text: hsl(var(--lens-ui-hue-danger-text) 0% 100%);
  --lens-ui-intents-danger-darken-border: hsl(var(--lens-ui-hue-danger) 55% 48%);
  --lens-ui-intents-info: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-intents-info-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-text-active: hsl(var(--lens-ui-hue-info-text-active) 0% 100%);
  --lens-ui-intents-info-border: hsl(var(--lens-ui-hue-info) 73% 63%);
  --lens-ui-intents-info-light: hsl(var(--lens-ui-hue-info) 71% 66%);
  --lens-ui-intents-info-light-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-light-border: hsl(var(--lens-ui-hue-info) 71% 66%);
  --lens-ui-intents-info-dark: hsl(var(--lens-ui-hue-info) 49% 52%);
  --lens-ui-intents-info-dark-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-dark-border: hsl(var(--lens-ui-hue-info) 49% 52%);
  --lens-ui-intents-info-lighten: hsl(var(--lens-ui-hue-info) 83% 73%);
  --lens-ui-intents-info-lighten-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-lighten-border: hsl(var(--lens-ui-hue-info) 83% 73%);
  --lens-ui-intents-info-darken: hsl(var(--lens-ui-hue-info) 48% 34%);
  --lens-ui-intents-info-darken-text: hsl(var(--lens-ui-hue-info-text) 0% 100%);
  --lens-ui-intents-info-darken-border: hsl(var(--lens-ui-hue-info) 48% 34%);
  --lens-ui-intents-warning: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-intents-warning-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-text-active: hsl(var(--lens-ui-hue-warning-text-active) 0% 100%);
  --lens-ui-intents-warning-border: hsl(var(--lens-ui-hue-warning) 83% 61%);
  --lens-ui-intents-warning-light: hsl(var(--lens-ui-hue-warning) 83% 65%);
  --lens-ui-intents-warning-light-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-light-border: hsl(var(--lens-ui-hue-warning) 83% 65%);
  --lens-ui-intents-warning-dark: hsl(var(--lens-ui-hue-warning) 60% 49%);
  --lens-ui-intents-warning-dark-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-dark-border: hsl(var(--lens-ui-hue-warning) 60% 49%);
  --lens-ui-intents-warning-lighten: hsl(var(--lens-ui-hue-warning) 80% 70%);
  --lens-ui-intents-warning-lighten-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-lighten-border: hsl(var(--lens-ui-hue-warning) 80% 70%);
  --lens-ui-intents-warning-darken: hsl(var(--lens-ui-hue-warning) 65% 40%);
  --lens-ui-intents-warning-darken-text: hsl(var(--lens-ui-hue-warning-text) 0% 100%);
  --lens-ui-intents-warning-darken-border: hsl(var(--lens-ui-hue-warning) 65% 40%);
  --lens-ui-intents-light: hsl(var(--lens-ui-hue-light) 33% 98%);
  --lens-ui-intents-light-text: hsl(var(--lens-ui-hue-light-text) 0% 0%);
  --lens-ui-intents-light-text-active: hsl(var(--lens-ui-hue-light-text-active) 0% 0%);
  --lens-ui-intents-light-border: hsl(var(--lens-ui-hue-light) 37% 96%);
  --lens-ui-intents-dark: hsl(var(--lens-ui-hue-dark-text) 10% 23%);
  --lens-ui-intents-dark-text: hsl(var(--lens-ui-hue-dark-text) 29% 95%);
  --lens-ui-intents-dark-text-active: hsl(var(--lens-ui-hue-dark-text-active) 29% 95%);
  --lens-ui-intents-dark-border: hsl(var(--lens-ui-hue-dark-text) 10% 23%);
  --lens-ui-typography-font-family: 'Roboto', sans-serif;
  --lens-ui-typography-font-size: .9333333333rem;
  --lens-ui-typography-text-color: hsl(var(--lens-ui-hue-bg-text) 9% 31%);
  --lens-ui-typography-text-color-active: hsl(var(--lens-ui-hue-bg-text-active) 100% 70%);
  --lens-ui-typography-faded-text-color: hsl(var(--lens-ui-hue-bg-text) 14% 48%);
  --lens-ui-typography-most-faded-text-color: hsl(var(--lens-ui-hue-bg-text) 14% 80%);
  --lens-ui-scrollbar-thumb: hsl(210deg 2% 76%);
  --lens-ui-scrollbar-track: hsl(0deg 0% 100%);
  --lens-ui-input-base-border: 1px solid hsl(210deg 14% 83%);
  --lens-ui-input-base-border--active: 1px solid hsl(210deg 97% 65%);
  --lens-ui-input-base-bg--active: hsl(210deg 97% 65%);
  --lens-ui-input-base--active-box-shadow: 0 0 0 .15rem rgb(82 92 229 / 25%);
  --lens-ui-conent-bg-color: hsl(0deg 0% 97%);
  --lens-ui-elements-modal-background-color: hsl(var(--lens-ui-hue-bg) 0% 100%);
  --lens-ui-elements-modal-border-color: hsl(var(--lens-ui-hue-bg) 29% 95%);
  --lens-ui-overlay-box-shadow: rgb(0 0 0 / 20%) 0 5px 5px -3px, rgb(0 0 0 / 14%) 0 8px 10px 1px, rgb(0 0 0 / 12%) 0 3px 14px 2px;
}
