@import '../lib';

@mixin tabs-theme {
  --lens-ui-elements-tabs-container-color: lens-var(typography, text-color, disabled);
  --lens-ui-elements-tabs-border: #ced4da;
  --lens-ui-elements-tabs-border-faded: #eff2f6;
  --lens-ui-elements-tabs-header-bg: hsl(210deg 29% 95%);
  --lens-ui-elements-tabs-active-bg: #fff;
  --lens-ui-elements-tabs-border-hovered: red;
  --lens-ui-elements-tabs-hover-bg: #fbfbfb;
  --lens-ui-elements-tabs-border-active: #ddd;
  --lens-ui-elements-tabs-text-color: #787878;
  --lens-ui-elements-tabs-bg: hsl(var(--lens-ui-hue-bg) 0% 100%);
}
