@import '../../../style-lib';

.toast {
  @include lens-ui-typography;

  pointer-events: all;
  min-width: 300px;
  border-radius: .1rem;
  margin-top: .3rem;
  box-shadow: 0 0 3px #0000004d;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--mobile {
    width: 100%;
  }

  [data-lens-element='progress-bar'],
  [data-lens-element='progress-bar__indicator'] {
    border-radius: 0;
    height: .3rem;
  }

  &__main {
    display: flex;
    flex: 1;
    padding: .25rem .5rem;
  }

  &__icon {
    display: flex;
    padding-right: .2rem;
    align-items: center;
    justify-content: center;
  }

  &__content {
    @include lens-ui-typography;

    display: flex;
    padding: .2rem;
    flex: 1;
    font-size: .8rem;
    align-items: center;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 19px;
      width: 19px;
      padding: 0;
      border-radius: .2rem;
    }
  }

  &__actions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;

    &__button {
      padding: .2rem;
    }
  }

  &--intent-primary {
    background-color: var(--lens-ui-intents-primary-dark);
    color: var(--lens-ui-intents-primary-dark-text);
    border: 1px solid var(--lens-ui-intents-primary-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-primary-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-primary-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-secondary {
    background-color: var(--lens-ui-intents-secondary-dark);
    color: var(--lens-ui-intents-secondary-dark-text);
    border: 1px solid var(--lens-ui-intents-secondary-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-secondary-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-secondary-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-success {
    background-color: var(--lens-ui-intents-success-dark);
    color: var(--lens-ui-intents-success-dark-text);
    border: 1px solid var(--lens-ui-intents-success-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-success-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-success-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-info {
    background-color: var(--lens-ui-intents-info-dark);
    color: var(--lens-ui-intents-info-dark-text);
    border: 1px solid var(--lens-ui-intents-info-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-info-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-info-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-warning {
    background-color: var(--lens-ui-intents-warning-dark);
    color: var(--lens-ui-intents-warning-dark-text);
    border: 1px solid var(--lens-ui-intents-warning-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-warning-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-warning-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }

  &--intent-danger {
    background-color: var(--lens-ui-intents-danger-dark);
    color: var(--lens-ui-intents-danger-dark-text);
    border: 1px solid var(--lens-ui-intents-danger-dark-border);

    [data-lens-element='toast-close-button'] {
      background-color: transparent;
      border: 0;
      color: var(--lens-ui-intents-danger-dark-text);
    }

    [data-lens-element='progress-bar'] {
      background-color: var(--lens-ui-intents-danger-darken);
    }

    [data-lens-element='progress-bar__indicator'] {
      background-color: #fff;
    }
  }
}
